<!-- Versión 1.6 28/08/2018 Editado por: Jorge Luis Pineda Montagut / CIDS -->
<footer class="footerUM">
    <div class="container">
        <div class="logosGeneral">
            <img id="selloUnimagdalena" src="https://cdn.unimagdalena.edu.co/images/escudo/bg_dark/default.png" alt="escudo de la Universidad del Magdalena" />
            <img id="yearsUnimagdalena" src="https://cdn.unimagdalena.edu.co/images/years_96.png" alt="escudo de los años que tiene la Universidad del Magdalena" />
            <img id="selloAcreditacion" src="https://cdn.unimagdalena.edu.co/images/acreditacion/default-border.png" alt="Marca de acreditación de alta calidad" />
            <img id="selloColombia" src="https://cdn.unimagdalena.edu.co/images/escudo_colombia.png" alt="Escudo de colombia" />
            <img id="sellosCalidad" class="img-responsive" src="https://cdn.unimagdalena.edu.co/images/calidad/bg-dark/default.png" alt="Sellos de calidad" />
        </div>
    </div>
    <div class="container">
        <div id="enlacesInteres">
            <div class="row">
                <div class="col-12 col-md-3 col-sm-6 footerColum">
                    <h3 class="tituloColum">ENLACES DE INTERÉS</h3>
                    <ul>
                        <li>
                            <a href="http://estrategia.gobiernoenlinea.gov.co" target="_blank" rel="noopener noreferrer">Gobierno en línea</a>
                        </li>
                        <li>
                            <a href="http://www.mineducacion.gov.co/1759/w3-channel.html" target="_blank" rel="noopener noreferrer">Ministerio de Educación</a>
                        </li>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/Publico/Mecanismos">Mecanismos de control y vigilancia</a>
                        </li>
                        <li>
                            <a href="http://aprende.colombiaaprende.edu.co/estudiantes2016" target="_blank" rel="noopener noreferrer">Colombia Aprende</a>
                        </li>
                        <li>
                            <a href="https://portal.icetex.gov.co/Portal/" target="_blank" rel="noopener noreferrer">Icetex</a>
                        </li>
                        <li>
                            <a href="http://www.colciencias.gov.co" target="_blank" rel="noopener noreferrer">Colciencias</a>
                        </li>
                        <li>
                            <a href="http://www.renata.edu.co/index.php" target="_blank" rel="noopener noreferrer">Renata</a>
                        </li>
                        <li>
                            <a href="http://www.universia.net.co" target="_blank" rel="noopener noreferrer">Universia</a>
                        </li>
                        <li>
                            <a href="https://www.encuestafacil.com/universia/UnivGenerica.aspx" target="_blank" rel="noopener noreferrer">universia.encuestafacil </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-sm-6 footerColum">
                    <h3 class="tituloColum">ATENCIÓN AL CIUDADANO</h3>
                    <ul>
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Transparencia">Transparencia y acceso a la información pública</a>
                        </li>
                        <li>
                            <a role="menuitem" href="https://pse.unimagdalena.edu.co/">Pagos en línea</a>
                        </li>
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Publico/PortalNinos">Portal para niños</a>
                        </li>
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Publico/Contacto">Ubicación y medios de contacto</a>
                        </li>
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Publico/PreguntasFrecuentes">Preguntas frecuentes</a>
                        </li>
                        <li>
                            <a role="menuitem" href="http://cogui.unimagdalena.edu.co/index.php?option=com_samco&view=pqr&Itemid=867" target="_blank" rel="noopener noreferrer">Peticiones, quejas, reclamos y sugerencias</a>
                        </li>
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Publico/ProteccionDatosPersonales">Protección de datos personales</a>
                        </li>
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Content/DocumentosSubItems/subitem-20171129151642_181.pdf">Carta de trato digno al ciudadano</a>
                        </li>
                
                        <li>
                            <a role="menuitem" href="https://www.unimagdalena.edu.co/Publico/Glosario">Glosario</a>
                        </li>
                    </ul>

                </div>
                <div class="col-12 col-md-3 col-sm-6 footerColum">
                    <h3 class="tituloColum">INFORMACIÓN GENERAL</h3>
                    <ul>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/Content/Public/Docs/reglamento_estudiantil.pdf" target="_blank" rel="noopener noreferrer">Reglamento estudiantil</a>
                        </li>
                        <li>
                            <a href="https://admisiones.unimagdalena.edu.co/eventos/index.jsp" target="_blank" rel="noopener noreferrer">Calendario académico</a>
                        </li>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/Publico/ProteccionDatosPersonales">Protección de datos personales</a>
                        </li>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/Publico/InformesGestion">Informes de gestión</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-sm-6 footerColum">
                    <h3 class="tituloColum">SERVICIOS</h3>
                    <ul>
                        <li>
                            <a href="http://bienestar.unimagdalena.edu.co" target="_blank" rel="noopener noreferrer">Bienestar universitario</a>
                        </li>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/UnidadesOrganizativas/Dependencia/9">Recursos educativos</a>
                        </li>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/UnidadesOrganizativas/Dependencia/6">Biblioteca Germán Bula Meyer</a>
                        </li>
                        <li>
                            <a href="http://consultorio.unimagdalena.edu.co" target="_blank" rel="noopener noreferrer">Consultorio jurídico y centro de conciliación</a>
                        </li>
                        <li>
                            <a href="https://www.unimagdalena.edu.co/UnidadesOrganizativas/Dependencia/4">Cartera</a>
                        </li>
                        <li>
                            <a href="https://pse.unimagdalena.edu.co">Pagos en línea</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container text-center">

            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="tituloColum">INFORMACIÓN DE CONTACTO</h3>
                    <ul>
                            <li>Línea Gratuita Nacional: 01 8000 180 504. PBX: (57 - 5) 4381000 - 4365000</li>
                        <li><a href="https://goo.gl/maps/tad2rQS5Jqj" target="_blank" rel="noopener noreferrer">Dirección: Carrera 32 No 22 – 08 Santa Marta D.T.C.H. - Colombia. Código Postal No. 470004</a></li>
                        <li><a href="mailto:contacto@unimagdalena.edu.co" target="_blank" rel="noopener noreferrer">Correo electrónico: ciudadano@unimagdalena.edu.co</a></li>
                    </ul>

                </div>
                <div class="col-12 text-center">
                    <p class="infoContacto">La Universidad del Magdalena está sujeta a inspección y vigilancia por el Ministerio de Educación Nacional.</p>
                    <p>Desarrollado por el Centro de Investigación y Desarrollo de Software CIDS - Unimagdalena © 2018<p>
                        <a href="#goto-content" id="goto-up" class="sr-only">Regresar al inicio</a>
                </div>
            </div>
        </div>
    </div>

</footer>