<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div class="animated fadeIn">
        <h2 class="text-uppercase text-center">Detalle de atención de medicina del deporte
            <small class="d-block text-muted">Datos de atencion del paciente</small>
        </h2>
<hr>
<app-perfil-salud [id]="id" [tipoBusqueda]="profile_by"></app-perfil-salud>
<hr>

<!-- inicio personal -->
<div class="card mb-4 mt-4">
    <div class="card-body">
        <div class="card-header text-uppercase text-center text-white bg-info"><strong>Personal</strong></div>

        <div class="card border">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="col">
                            <label> <strong>Tipo de paciente:</strong></label>
                            <p>Estudiante</p>
                        </div> 
                        <hr> 
                        <div class="col">
                            <label> <strong>Motivo de la consulta:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div> 
                        <hr>   
                        <div class="col">
                            <label> <strong>Enfermedad actual:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div>                 
                    </div>            
                </div>
            </div> 
<!-- fin personal -->

<!-- inicio Riesgos cardiovasculares -->
          <div class="card-header text-uppercase text-center text-white bg-info"><strong>Riesgos cardiovasculares</strong></div>
          
          <div class="card border">
              <div class="card-body">
                  <div class="row">
                        <div class="col-6">
                            <ul>
                              <li><strong>presencia de enfermedad coronaria</strong></li>
                            </ul>
                        </div> 
                        <div class="col-6">
                            <ul>
                              <li><strong>Otras formas ateroesclerosis - Enfermedad arteria periférica</strong></li>
                            </ul>
                        </div> 
                  </div>   
                  <hr> 
                  <div class="row ml-2">  
                        <div class="col-6">
                            <label><strong>Clasificación de riesgo cardiovascular:</strong></label>
                            <p>sano</p>
                        </div>  
                        <div class="col-6">
                            <label><strong>Clases de riesgo cardiovascular:</strong></label>
                            <p>A1</p>
                        </div>             
                  </div>
              </div> 
          </div> 
<!-- fin Riesgos cardiovasculares -->

<!-- inicio Riesgos cardiovasculares -->
        <div class="card-header text-uppercase text-center text-white bg-info"><strong>Antecedentes</strong></div>
                  
        <div class="card border">
            <div class="card-body">
                <div class="row pl-4 pr-4">
                      <div class="col-12 col-md-3 mt-1">
                          <label><strong>Prenatales</strong></label>
                      </div> 
                      <div class="col-12 col-md-9">
                          <p class="border p-1">asdasd</p>
                      </div>  
                </div> 
            </div> 
        </div> 
<!-- fin Riesgos cardiovasculares -->

<!-- inicio EF -->
        <div class="card-header text-uppercase text-center text-white bg-info"><strong>EF</strong></div>
                          
        <div class="card border">
            <div class="card-body">
                <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>DATOS ANTROPOMETRICOS</strong></div> 

                <div class="row pl-4 pr-4">
                      <div class="col-12 col-md-3">
                          <label><strong>Peso (Kg):</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Talla (m):</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>IMC:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Peso ideal por IMC:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Perimetro cintura:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Perimetro cadera:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Perimetro carpo:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Peso ideal:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Tipo de complexión:</strong></label>
                          <p>asdasd</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Relación C/C:</strong></label>
                          <p>0</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Complexiön:</strong></label>
                          <p>0</p>
                      </div> 
                </div> 

                <hr>
                <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>SIGNOS VITALES</strong></div> 
                <div class="row pl-4 pr-4">
                    <div class="col-12 col-md-3">
                        <label><strong>Pas:</strong></label>
                        <p>0</p>
                    </div> 
                    <div class="col-12 col-md-3">
                        <label><strong>Pad:</strong></label>
                        <p>0</p>
                    </div> 
                    <div class="col-12 col-md-2">
                        <label><strong>Temperatura(°C):</strong></label>
                        <p>0</p>
                    </div> 
                    <div class="col-12 col-md-2">
                        <label><strong>FR:</strong></label>
                        <p>0</p>
                    </div> 
                    <div class="col-12 col-md-2">
                        <label><strong>FC:</strong></label>
                        <p>0</p>
                    </div> 
                </div> 
            </div> 
        </div> 
<!-- fin EF -->

<!-- inicio CON EF FLEXIB -->
        <div class="card-header text-uppercase text-center text-white bg-info"><strong>CON EF FLEXIB</strong></div>
                                  
        <div class="card border">
            <div class="card-body">
                <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>FLEXIBILIDAD</strong></div> 

                <div class="row pl-4 pr-4">
                      <div class="col-12 col-md-3">
                          <label><strong>Isquiotibiliales:</strong></label>
                          <p>Moderada</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Adductores:</strong></label>
                          <p>Moderada</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Iliopsoaps:</strong></label>
                          <p>Moderada</p>
                      </div> 
                      <div class="col-12 col-md-3">
                          <label><strong>Cuadriceps:</strong></label>
                          <p>Moderada</p>
                      </div> 
                </div> 

                <hr>
                <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>ESTABILIDAD</strong></div> 

                <div class="row pl-4 pr-4">
                      <div class="col-12 col-md-4">
                          <label><strong>Abdomen:</strong></label>
                          <p>1</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Gluteo mayor:</strong></label>
                          <p>1</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Pelvis:</strong></label>
                          <p>1</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Gluteo medio:</strong></label>
                          <p>1</p>
                      </div> 
                      <div class="col-12 col-md-4">
                          <label><strong>Lumbar:</strong></label>
                          <p>1</p>
                      </div> 
                </div> 
                <hr>
                <div class="row pl-4 pr-4">
                    <div class="col-12 col-md-4">
                        <label><strong>Escala de caida:</strong></label>
                        <p>Moderada</p>
                    </div> 
                    <div class="col-12 col-md-4">
                        <label><strong>Análisis postura Morfologica:</strong></label>
                        <p>Espalda Redonda Hueca Postural</p>
                    </div> 
                    <div class="col-12 col-md-4">
                        <label><strong>Análisis postura funcional:</strong></label>
                        <p>Empeoramiento de Postura</p>
                    </div> 
              </div> 
            </div> 
        </div> 
<!-- fin CON EF FLEXIB -->

<!-- inicio Antropometria -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>ANTROPOMETRIA</strong></div>
                                              
            <div class="card border">
                <div class="card-body">
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>PLIEGUES GRASOS</strong></div> 

                    <div class="row pl-4 pr-4">
                          <div class="col-12 col-md-3">
                              <label><strong>Pecho:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Axilar:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Triceps:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Subescapular:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Suprailiaco:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Abdominal:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Muslo:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-3">
                              <label><strong>Pierna:</strong></label>
                              <p>0</p>
                          </div> 
                    </div> 

                    <hr>
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>DIAMETROS OSEOS</strong></div> 

                    <div class="row pl-4 pr-4">
                          <div class="col-12 col-md-6">
                              <label><strong>Muñeca:</strong></label>
                              <p>1</p>
                          </div> 
                          <div class="col-12 col-md-6">
                              <label><strong>Femoral:</strong></label>
                              <p>1</p>
                          </div> 
                    </div> 
                    <hr>
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>DETERMINACION ANTROPOMETRICA</strong></div> 
                    <div class="row">
                        <div class="col-6">
                            <ul>
                              <li><strong>Hombre Sedentario Abdominal</strong></li>
                            </ul>
                        </div> 
                        <div class="col-6">
                            <ul>
                              <li><strong>Mujer Sedentaria Pelvica</strong></li>
                            </ul>
                        </div> 
                    </div> 
                    <hr>
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>PESOS Y PORCENTAJES</strong></div> 
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-4">
                            <label><strong>% Graso:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Peso Graso:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>%Oseo:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Peso Oseo:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>% Residual:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Peso Residual:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>% Muscular:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Peso Muscular:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>PLG:</strong></label>
                            <p>0</p>
                        </div> 
                    </div> 
                    <hr>
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-4">
                            <label><strong>% Grasa "Ideal":</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>KGS de Grasa en Exceso:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Deficit Muscular:</strong></label>
                            <p>No presenta</p>
                        </div> 
                    </div> 
                </div> 
            </div> 
<!-- fin Antropometria -->

<!-- inicio examenes -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>EXAMENES</strong></div>

            <div class="card border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="col">
                                <label> <strong>Laboratorios:</strong></label>
                                <p class="border p-1">asdasd</p>
                            </div>  
                            <div class="col">
                                <label> <strong>Imagenes Diagnosticas:</strong></label>
                                <p class="border p-1">asdasd</p>
                            </div>
                            <div class="col">
                                <label> <strong>Pruebas Especiales:</strong></label>
                                <p class="border p-1">asdasd</p>
                            </div>                  
                        </div>            
                    </div>
                    <hr>
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-4">
                            <label><strong>CT:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>HDL:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>TG:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Glicemina:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Clasificacion AHA/ACC:</strong></label>
                            <p>0</p>
                        </div> 
                    </div>
                </div> 
            </div>  
<!-- fin examenes -->

<!-- inicio prueba esfuerzo -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>PRUEBA ESFUERZO</strong></div>

            <div class="card border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="col">
                                <label> <strong>Descripciòn:</strong></label>
                                <p class="border p-1">asdasd</p>
                            </div>               
                        </div>            
                    </div>
                </div>
            </div> 
<!-- fin prueba esfuerzo -->

<!-- inicio valores prueba de esfuerzo -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>VALORES PRUEBA DE ESFUERZO</strong></div>
                                                          
            <div class="card border">
                <div class="card-body">
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>TEST EN BANDA</strong></div> 

                    <div class="row pl-4 pr-4">
                          <div class="col-12 col-md-4">
                              <label><strong>Max Velocidad (mill/h):</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>Max Velocidad (km/h):</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>pendiente:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>METS:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>VO2 MAX (ml/min):</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>VO2 MAX (ml/kg/min):</strong></label>
                              <p>0</p>
                          </div>
                    </div> 

                    <hr>
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>TEST EN CICLA</strong></div> 

                    <div class="row pl-4 pr-4">
                          <div class="col-12 col-md-4">
                              <label><strong>Max WATTS:</strong></label>
                              <p>1</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>Max Kpm:</strong></label>
                              <p>1</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>METS:</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>VO2 MAX (ml/min):</strong></label>
                              <p>0</p>
                          </div> 
                          <div class="col-12 col-md-4">
                              <label><strong>VO2 MAX (ml/kg/min):</strong></label>
                              <p>0</p>
                          </div>
                    </div> 
                    <hr>
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>TEST DE 6 MIN</strong></div> 
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-3">
                            <label><strong>Max Distancia Recorrida(km):</strong></label>
                            <p>1</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>METS:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>VO2 MAX (ml/min):</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>VO2 MAX (ml/kg/min):</strong></label>
                            <p>0</p>
                        </div> 
                    </div> 
                    <hr>
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>TEST DE 12 MIN</strong></div> 
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-3">
                            <label><strong>Max Distancia Recorrida(km):</strong></label>
                            <p>1</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>METS:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>VO2 MAX (ml/min):</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>VO2 MAX (ml/kg/min):</strong></label>
                            <p>0</p>
                        </div> 
                    </div> 
                    <hr>
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-3">
                            <label><strong>FC Max:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>PA sistólica Max:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>PA diastólica Max:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>Doble Producto:</strong></label>
                            <p>0</p>
                        </div> 
                        <div class="col-12 col-md-3">
                            <label><strong>Umbral Anaeróbico:</strong></label>
                            <p>0</p>
                        </div> 
                    </div> 
                    <hr> 
                    <div class="card-header text-uppercase text-center text-red bg-default mb-3"><strong>TEST DE BANCA</strong></div> 
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-4">
                            <label><strong>FC Post:</strong></label>
                            <p>1</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>FC Min:</strong></label>
                            <p>1</p>
                        </div> 
                        <div class="col-12 col-md-4">
                            <label><strong>Valor:</strong></label>
                            <p>1</p>
                        </div> 
                    </div> 
                    <hr>
                    <div class="row pl-4 pr-4">
                        <div class="col-12">
                            <label> <strong>Interpretación:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div>            
                    </div>
                </div> 
            </div> 
<!-- fin valores prueba de esfuerzo -->

<!-- inicio DX Y TTO -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>DX Y TTO</strong></div>
                                                          
            <div class="card border">
                <div class="card-body">
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-12">
                            <label> <strong>Diagnòsticos Medico Deportivo:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div>  
                        <div class="col-12 col-md-12">
                            <label> <strong>Tratamiento Mèdico:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div> 
                        <div class="col-12 col-md-12">
                            <label> <strong>SS Exàmenes:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div> 
                        <div class="col-12 col-md-12">
                            <label> <strong>Remisiòn Mèdica:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div>           
                    </div>
                </div> 
            </div> 
<!-- fin DX Y TTO -->

<!-- inicio prescripcion -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>PRESCRIPCIÓN</strong></div>
                                                          
            <div class="card border">
                <div class="card-body">
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-12">
                            <label> <strong>Descripciòn:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div>           
                    </div>
                </div> 
            </div> 
<!-- fin prescripcion -->

<!-- inicio prescripcion -->
            <div class="card-header text-uppercase text-center text-white bg-info"><strong>INCAPACIDAD</strong></div>
                                                                      
            <div class="card border">
                <div class="card-body">
                    <div class="row pl-4 pr-4">
                        <div class="col-12 col-md-12">
                            <label> <strong>Incapacidad Mèdica:</strong></label>
                            <p class="border p-1">asdasd</p>
                        </div>           
                    </div>
                </div> 
            </div> 
<!-- fin prescripcion -->
    </div>
</div>   


