<div class="tab-pane fade show active" id="pendientes" role="tabpanel" aria-labelledby="pendientes-tab">

    <div class="text-center mb-3">
        <a [routerLink]="[ '/solicitudAyudas' ]" class="btn btn-success mr-1 shadow">Asignar beneficio a estudiantes</a>
        <button type="button" class="btn btn-outline-dark mr-1" *ngIf="userService.roleMatch(['AdminAyudas'])" (click)="abrirModalCodigosMultiples()">Cambiar estado por códigos <span class="badge badge-success" *ngIf="codigosSeleccionados.length > 0">{{codigosSeleccionados.length}}</span></button>
        <button id="btn-filtros" class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span class="fa fa-filter" aria-hidden="true"></span> Filtrar registros
        </button>
    </div>

    <div class="collapse mb-3" id="collapseFilter">
        <div class="card card-body px-3 pt-3">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-sexo" class="form-group">
                        <label>Filtrar por sexo</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-tipoDoc" class="form-group">
                        <label>Filtrar por tipo doc</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-estrato" class="form-group">
                        <label>Filtrar por estrato</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-departamento" class="form-group">
                        <label>Filtrar por departamento</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-municipio" class="form-group">
                        <label>Filtrar por municipio</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-facultad" class="form-group">
                        <label>Filtrar por facultad</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-programa" class="form-group">
                        <label>Filtrar por programa</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-colegio" class="form-group">
                        <label>Filtrar por colegio</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div id="filter-rapimercar" class="form-group">
                        <label>Filtrar por rapimercar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center font-weight-bold mb-2" *ngIf="estudiantes.length">
        Las filas resaltadas en color azul indican que el estudiante posee algún apoyo, estimulo, beneficio o condición especial registrado en el sistema.
    </div>
    <div class="table-responsive">
        <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="table-estudiantes" style="width:100%;">
            <thead>
                <tr>
                    <th style="width: 40px;"></th>
                    <th>Código</th>
                    <th>Nombre completo</th>
                    <th>Sexo</th>
                    <th>Tipo doc</th>
                    <th>Num doc</th>
                    <th>Estrato</th>
                    <th>Departamento origen</th>
                    <th>Municipio</th>
                    <th>Sisben</th>
                    <th>Dirección de residencia</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Facultad</th>
                    <th>Programa</th>
                    <th>Colegio</th>
                    <th>Condiciones especiales</th>
                    <th>Convocatoria almuerzos/refrigerios</th>
                    <th>Programa de inclusión y permanencia</th>
                    <th>Ayudantias académicas, extensión y administrativas</th>
                    <th>Programa jovenes en acción</th>
                    <th>Rapimercar</th>
                    <th>Solicitante</th>
                    <th style="width: 90px;">Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudiante of estudiantes" [ngClass]="{'table-info': (estudiante.condiciones_especiales.length > 0 || estudiante.tiene_beneficio_alimenticio == 'SI' || estudiante.es_inclusion == 'SI' || estudiante.tiene_ayudantia == 'SI')}">
                    <td>
                        <input type="checkbox" name="codigo-{{estudiante.id}}" [id]="estudiante.id" [(checklist)]="codigosSeleccionados" [checklistValue]="estudiante.codigo"/>
                    </td>
                    <td>{{estudiante.codigo}}</td>
                    <td>{{estudiante.nombre | titlecase}}</td>
                    <td>{{estudiante.sexo}}</td>
                    <td>{{estudiante.tipo_identificacion}}</td>
                    <td>{{estudiante.identificacion}}</td>
                    <td>{{estudiante.estrato}}</td>
                    <td>{{estudiante.departamento}}</td>
                    <td>{{estudiante.municipio}}</td>
                    <td>{{estudiante.sisben | number: '1.0-2'}}</td>
                    <td>{{estudiante.direccion}}</td>
                    <td>{{estudiante.telefono}}</td>
                    <td>{{estudiante.celular}}</td>
                    <td>{{estudiante.email}}</td>
                    <td>{{estudiante.facultad}}</td>
                    <td>{{estudiante.programa}}</td>
                    <td>{{estudiante.colegio}}</td>
                    
                    <td>
                        <span *ngFor="let condicion of estudiante.condiciones_especiales; let last = last">{{condicion.nombre}} <span *ngIf="!last">, </span></span>
                    </td>
                    <td>{{estudiante.tiene_beneficio_alimenticio}}</td>
                    <td>{{estudiante.es_inclusion}}</td>
                    <td>{{estudiante.tiene_ayudantia}}</td>
                    <td>{{estudiante.es_joven_en_accion}}</td>
                    <td>{{estudiante.almacen_mas_cercano}}</td>
                    <td title="{{estudiante.solicitante}}">{{estudiante.solicitante.split('@')[0]}}</td>
                    
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-dark mr-1" (click)="modalDetalles(estudiante)" title="Ver detalles de {{estudiante.nombre}}">
                            <span class="fas fa-search" aria-hidden="true"></span>
                            <span class="sr-only">Ver detalles de {{estudiante.nombre}}</span>
                        </button>
                        <button *ngIf="userService.roleMatch(['AdminAyudas'])" type="button" class="btn btn-sm btn-outline-dark mr-1" title="Aprobar soliictud" (click)="cambiarEstado(estudiante, true)">
                            <span class="fas fa-check" aria-hidden="true"></span>
                            <span class="sr-only">Aprobar ayuda a {{estudiante.nombre}}</span>
                        </button>
                        <button *ngIf="userService.roleMatch(['AdminAyudas'])" type="button" class="btn btn-sm btn-outline-dark" title="Rechazar solicitud" (click)="abrirModalObservacion(estudiante)">
                            <span class="fas fa-times" aria-hidden="true"></span>
                            <span class="sr-only">Rechazar ayuda a {{estudiante.nombre}}</span>
                        </button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <app-detalle-solicitud-ayuda #modalDetalle></app-detalle-solicitud-ayuda>

    <!-- Modal -->
    <div class="modal fade" id="observacionModal" tabindex="-1" role="dialog" aria-labelledby="observacionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="observacionModalLabel">Agregar observación para cancelar solicitud</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #addObservacionForm="ngForm" novalidate (ngSubmit)="guardarObservacionDeRechazo(addObservacionForm)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="observacion-solicitud">Observación</label>
                            <textarea class="form-control" id="observacion-solicitud" name="observacion" [(ngModel)]="cambio.observacion" #observacion="ngModel" placeholder="Máx. 500 caracteres." maxlength="500" rows="4" required [ngClass]="{'is-invalid': observacion.errors?.required && (observacion.touched || addObservacionForm.submitted)}"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="codigosModal" tabindex="-1" role="dialog" aria-labelledby="codigosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="codigosModalLabel">Cambiar estado por códigos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #codigoMultiplesForm="ngForm" novalidate (ngSubmit)="cambiarEstadoPorCodigos(codigoMultiplesForm)">
                    <div class="modal-body" *ngIf="codigoDataForm">
                        <div class="form-group">
                          <label for="codigos-cambio">Ingrese uno o hasta 50 códigos de estudiantes (separados por coma o espacio) a los cuales desea cambiar el estado de la solicitud</label>
                          <textarea name="codigos-cambio" id="codigos-cambio" [(ngModel)]="codigoDataForm.codigo" class="form-control" placeholder="Ingrese los códigos aqui" aria-describedby="codigoHelpId" rows="4" maxlength="600"></textarea>
                          <small id="codigoHelpId" class="text-muted" *ngIf="codigosInvalidos.length == 0">Los códigos deben corresponder a estudiantes a los cuales se les haya solicitado una ayuda, es decir, que se encuentren en el listado de solicitudes realizadas.</small>
                        </div>
                        <details class="mb-3 bg-warning p-1" *ngIf="codigosInvalidos.length > 0">
                            <summary class="small">Ha ingresado {{codigosInvalidos.length}} códigos de estudiantes que no aparecen en el listado de solicitudes realizadas. Remueva los códigos y vuelva a intentarlo. Clic aquí para ver</summary>
                            <div class="p-2">
                                <span class="badge badge-info mr-1 mb-1" *ngFor="let codigo of codigosInvalidos">{{codigo}}</span>

                            </div>
                            
                        </details>
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="estadoSolicitud" [(ngModel)]="codigoDataForm.estado" id="aprobarSocitud" [value]="true">
                                <label class="form-check-label" for="aprobarSocitud">Aprobar solicitud</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="estadoSolicitud" [(ngModel)]="codigoDataForm.estado" id="rechazarSolicitud" [value]="false">
                                <label class="form-check-label" for="rechazarSolicitud">Rechazar solicitud</label>
                              </div>
                        </div>
                        <div class="form-group" *ngIf="codigoDataForm.estado == false">
                            <label for="observacionSolicitud">Observación</label>
                            <textarea class="form-control" name="observacion" id="observacionSolicitud" [(ngModel)]="codigoDataForm.observacion" [required]="codigoDataForm.estado == false" rows="3" maxlength="500" placeholder="Ingrese la razón por la cual desea rechazar la solicitud de los estudiantes ingresados. Máx. 500 caracteres"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>