<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div class="mb-3 animated fadeIn">
    <h2 class="text-uppercase text-center">Plazas <small class="d-block text-muted">Formulario de solicitud de plazas</small></h2>
    <hr>

    <div class="alert alert-danger alert" *ngIf="errores.length > 0">
        <label><b>Corrige los errores:</b></label>
        <ul>
            <div *ngFor="let error of errores">
                <li *ngIf="error.errores.length>0">
                    <p>{{error.errores[0].ErrorMessage}}</p>
                </li>
            </div>
        </ul>
    </div>

    <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>

        <fieldset>
            <legend>Información general</legend>
            <div class="alert alert-info">
                Todos los campos de información en este formulario son obligatorios a excepción del campo 'Perfil' que se completa automáticamente a medida que los demás campos de información son completados.
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="convocatorias.length == 0">
                En la fecha actual no hay convocatorias en etapa de solicitud de plazas.
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div id="convocatoria_id" class="form-group">
                        <label for="convocatoria_id">Convocatoria</label>
                        <select class="form-control" [ngClass]="{'is-invalid': ((forma.submitted || convocatoria_id.touched) && convocatoria_id.errors?.required) }" id="convocatoria_id" name="convocatoria_id" [(ngModel)]="plaza.convocatoria_id" required #convocatoria_id="ngModel"
                            (change)="canjearObjeto()">
              <option disabled [ngValue]="null" selected>Seleccione una convocatoria</option>
              <option *ngFor="let item of convocatorias" [value]="item.id" [selected]="convocatorias.length == 1">{{item.nombre}}</option>
            </select>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div id="tipo_ayudantia" class="form-group">
                        <label for="tipo_ayudantia">Tipo de <span *ngIf="tipoConvocatoria == 1">ayudantía</span><span *ngIf="tipoConvocatoria == 3">monitoría</span></label>
                        <select class="form-control" [ngClass]="{'is-invalid': ((forma.submitted || tipo_ayudantia.touched) && tipo_ayudantia.errors?.required) }" id="tipo_ayudantia" name="tipo_ayudantia" [(ngModel)]="plaza.tipo_ayudantia" required #tipo_ayudantia="ngModel"
                            (change)="limpiarPlaza()" [disabled]="tipoConvocatoria == 3">
                            <option disabled [ngValue]="null" selected>Seleccione un tipo de ayudantía</option>
                            <option *ngFor="let item of tiposAyudantias" [value]="item.id">{{item.nombre}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-12 col-xl-6">
                    <div id="tipo_plaza" class="form-group">
                        <label for="tipo_plaza">Nombre de plaza  <span class="fas fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Los nombres de plazas de ayudantías académicas son obtenidas del Grupo de Admisiones, Registro y Control Académico. Si en el listado no encuentra el nombre de una plaza de otro tipo de ayudantía puede agregarlo presionando en el enlace ubicado debajo del campo."></span></label>
                        <ng-select [items]="tiposPlazas | selecPlaza: plaza.tipo_ayudantia" id="tipo_plaza" bindLabel="nombre" [ngClass]="{'is-invalid': ((forma.submitted || tipo_plaza.touched) && tipo_plaza.errors?.required) }" bindValue="id" placeholder="Seleccione plaza"
                            name="tipo_plaza" #tipo_plaza="ngModel" [(ngModel)]="plaza.tipo_plaza_id" (change)="consultarPlaza()" required>
                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                <div class="ng-option disabled">
                                    No hay resultados
                                </div>
                            </ng-template>
                        </ng-select>
                        <small class="form-text text-muted">
              <button (click)="abrirModalCrearNombrePlaza()" *ngIf="plaza.tipo_ayudantia != null && plaza.tipo_ayudantia != 1" class="btn btn-sm btn-link text-left pt-0 pb-0" style="white-space: normal;" type="button" title="Agregar tipo">
                  Presione aquí si no encuentra el nombre de la plaza
              </button>
            </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="tipo_plaza">Supervisor</label>
              <ng-select [items]="supervisores" id="supervisor" bindLabel="nombre" bindValue="id" placeholder="Seleccione supervisor"  [ngClass]="{'is-invalid': ((forma.submitted || supervisor.touched) && supervisor.errors?.required) }"
                name="supervisor" #supervisor="ngModel" [(ngModel)]="plaza.supervisor_id" required>
                <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                  <div class="ng-option disabled">
                    No hay resultados
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div> -->
                <div class="col-md-4">
                    <div id="cupos_solicitados" class="form-group">
                        <label for="cupos_solicitados">Cupos solicitados <a data-toggle="modal" href="#ratificarModal" class="text-secondary font-italic small text-link" *ngIf="plaza.tipo_convocatoria_id == 3 && estudiantesSeleccionados.length">Ratificados: {{estudiantesSeleccionados.length}}</a></label>
                        <input type="number" class="form-control" [ngClass]="{'is-invalid': ( (forma.submitted || cupos_solicitados.touched) && (cupos_solicitados.errors?.required || cupos_solicitados.errors?.min) )  }" name="cupos_solicitados" #cupos_solicitados="ngModel" [(ngModel)]="plaza.cupos_solicitados"
                            [min]="1" required placeholder="Ingrese el no. de cupos solicitados. Mín. 1" (change)="reiniciarEstudiantesARatificar()"> 
                        <div class="invalid-feedback" *ngIf="( (forma.submitted || cupos_solicitados.touched) && cupos_solicitados.errors?.min )">
                            Solo números mayores o iguales que 1.
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="porcentaja_creditos_requeridos" class="form-group">
                        <label for="porcentaja_creditos_requeridos">Porcentaje de créditos aprobados</label>
                        <input type="number" class="form-control" [ngClass]="{'is-invalid': ( (forma.submitted || porcentaja_creditos_requeridos.touched) && (porcentaja_creditos_requeridos.errors?.required || porcentaja_creditos_requeridos.errors?.min || porcentaja_creditos_requeridos.errors?.max) )  }"
                            name="porcentaja_creditos_requeridos" #porcentaja_creditos_requeridos="ngModel" [(ngModel)]="plaza.porcentaja_creditos_requeridos" [min]="0" [max]="100" required placeholder="Ingrese el porcentaje de créditos aprobados. Mín. 1. Max. 100." (change)="reiniciarEstudiantesARatificar()">
                        <div class="invalid-feedback" *ngIf="( (forma.submitted || porcentaja_creditos_requeridos.touched) && porcentaja_creditos_requeridos.errors?.min )">
                            Solo números mayores o iguales que 0.
                        </div>
                        <div class="invalid-feedback" *ngIf="( (forma.submitted || porcentaja_creditos_requeridos.touched) && porcentaja_creditos_requeridos.errors?.max )">
                            Solo números menores o iguales que 100.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="promedio_minimo" class="form-group">
                        <label for="promedio_minimo">Promedio mínimo del estudiante <span class="fas fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="En este campo debe ingresar el promedio ponderado del estudiante."></span></label>
                        <input type="number" class="form-control" [ngClass]="{'is-invalid': ( (forma.submitted || promedio_minimo.touched) && (promedio_minimo.errors?.required || promedio_minimo.errors?.min || promedio_minimo.errors?.max) )  }" name="promedio_minimo" #promedio_minimo="ngModel"
                            [(ngModel)]="plaza.promedio_minimo" [min]="convocatoriaSeleccionada ? convocatoriaSeleccionada['promedioMinimo'] : 0" [max]="500" required placeholder="Ingrese el promedio mínimo. Max. 100." (change)="reiniciarEstudiantesARatificar()">
                        <div class="invalid-feedback" *ngIf="( (forma.submitted || promedio_minimo.touched) && promedio_minimo.errors?.min )">
                            Solo números mayores o iguales que {{convocatoriaSeleccionada ? convocatoriaSeleccionada['promedioMinimo'] : 0}}.
                        </div>
                        <div class="invalid-feedback" *ngIf="( (forma.submitted || promedio_minimo.touched) && promedio_minimo.errors?.max )">
                            Solo números menores o iguales que 500.
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div id="perfil" class="form-group">
                        <label for="perfil">Perfil <small class="text-muted">(Campo autocompletado por el sistema)</small></label>
                        <textarea class="form-control" [value]="completarPerfil()" name="perfil" rows="4" placeholder="El perfil de la plaza se construirá cuando se seleccionen los requisitos del estudiante." readonly></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div id="competencias_requeridas" class="form-group">
                        <label for="competencias_requeridas">Competencias requeridas</label>
                        <textarea class="form-control" [ngClass]="{'is-invalid': ((forma.submitted || competencias_requeridas.touched) && competencias_requeridas.errors?.required) }" name="competencias_requeridas" #competencias_requeridas="ngModel" [(ngModel)]="plaza.competencias_requeridas"
                            rows="4" placeholder="Ej: Capacidad para resolver problemas, capacidad de trabajo en equipo y liderazgo, etc. Máx. 1000 caracteres." maxlength="1000" [required]="tipoConvocatoria == 1"></textarea>
                    </div>
                </div>
            </div>
            <!-- </fieldset>
      
      <fieldset> -->
            <div class="row">
                <div class="col-md-6">
                    <div id="facultad" class="form-group">
                        <label for="facultad">Facultad</label>
                        <ng-select [items]="facultades" id="facultad" bindLabel="nombre" [ngClass]="{'is-invalid': ((forma.submitted || facultad.touched) && facultad.errors?.required) }" bindValue="id" placeholder="Seleccione facultad" name="facultad" #facultad="ngModel" [(ngModel)]="plaza.facultades"
                            [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" [required]="plaza.programas.length == 0">
                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                <div class="ng-option disabled">
                                    No hay resultados
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="programa" class="form-group">
                        <label for="programa">Programa</label>
                        <ng-select [items]="programas" id="programa" bindLabel="nombre" [ngClass]="{'is-invalid': ((forma.submitted || programa.touched) && programa.errors?.required) }" bindValue="id" placeholder="Seleccione programa" name="programa" #programa="ngModel" [(ngModel)]="plaza.programas"
                            [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" [required]="plaza.facultades.length == 0">
                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                <div class="ng-option disabled">
                                    No hay resultados
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Actividades a realizar <button id="agregarActividad" (click)="agregarActividad()" type="button" class="btn btn-outline-primary btn-sm"><i
            class="fas fa-plus"></i>Agregar actividad</button></legend>
            <small class="text-muted">Son las actividades que realizara el estudiante durante la ayudantia.</small>
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th style="width: 100px;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of plaza.actividades; let j = index;trackBy:trackByIndex">
                                <td>
                                    <input type="text" class="form-control" [ngClass]="{'is-invalid': ( (forma.submitted || actividad_j.touched) && (actividad_j.errors?.required || actividad_j.errors?.maxlength) )  }" name="actividad_{{j}}" id="actividad_{{j}}" #actividad_j="ngModel" [(ngModel)]="item.descripcion"
                                        maxlength="500" required placeholder="Ingrese la actividad. Max. 500.">
                                </td>
                                <td class="text-center">
                                    <button (click)="quitarElemento(j, plaza.actividades)" type="button" class="btn btn-light btn-sm" title="Eliminar registro"><span class="fas fa-times"></span><span class="sr-only">Eliminar registro</span></button>
                                </td>
                            </tr>
                            <tr class="table-info">
                                <td colspan="4" *ngIf="plaza.actividades.length == 0" role="alert">
                                    No hay actividades relacionadas con la plaza. Para ingresar debe presionar en el botón "<i class="fas fa-plus"></i> Agregar actividad".
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Asignaturas previas <button id="agregarAsignatura" (click)="agregarAsignatura()" type="button" class="btn btn-outline-primary btn-sm"><i
            class="fas fa-plus"></i>Agregar asignatura</button></legend>
            <small id="emailHelp" class="form-text text-muted" *ngIf="convocatoriaSeleccionada">El puntaje mínimo según la
        convocatoria seleccionada es {{convocatoriaSeleccionada['puntajeMinimo']}}.</small>
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Asignatura</th>
                                <th style="width: 200px;">Puntaje</th>
                                <th style="width: 100px;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of plaza.asignaturas; let i = index;trackBy:trackByIndex">
                                <td>
                                    <ng-select [items]="asignaturas" id="nombre_{{i}}" bindLabel="titulo" (change)="verificarAsignaturas(item)" [ngClass]="{'is-invalid': ((forma.submitted || nombre_i.touched) && nombre_i.errors?.required) }" bindValue="codigo" placeholder="Seleccione asignatura"
                                        name="nombre_{{i}}" #nombre_i="ngModel" [(ngModel)]="item.codigo" required>
                                        <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                            <div class="ng-option disabled">
                                                No hay resultados
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </td>
                                <td>
                                    <input class="form-control" [ngClass]="{'is-invalid': ( (forma.submitted || puntaje_i.touched) && (puntaje_i.errors?.required || puntaje_i.errors?.min || puntaje_i.errors?.max) )  }" type="number" [min]="convocatoriaSeleccionada ? convocatoriaSeleccionada['puntajeMinimo'] : 1"
                                        [max]="500" id="puntaje_{{i}}" name="puntaje_{{i}}" [(ngModel)]="item.puntaje" required #puntaje_i="ngModel" required>
                                </td>
                                <td class="text-center">
                                    <button (click)="quitarElemento(i, plaza.asignaturas)" type="button" class="btn btn-light btn-sm" title="Eliminar registro"><span class="fas fa-times"></span><span class="sr-only">Eliminar registro</span></button>
                                </td>
                            </tr>
                            <tr class="table-info">
                                <td colspan="4" *ngIf="plaza.asignaturas.length == 0" role="alert">
                                    No hay asignaturas relacionadas con la plaza. Para ingresar debe presionar en el botón "<i class="fas fa-plus"></i> Agregar asignatura".
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>

        <fieldset *ngIf="plaza.tipo_convocatoria_id == 3">
            <legend>Tutor asignado</legend>
            <div class="form-group">
              <label for="" class="sr-only">Tutor asignado</label>
              <ng-select [items]="tutores" id="tutor" bindLabel="nombres" bindValue="id" placeholder="Seleccione una persona" name="Tutor" #tutor="ngModel" [(ngModel)]="plaza.supervisor_id" [closeOnSelect]="true" [hideSelected]="true">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <div><span><b>Nombre:</b> </span><span [ngOptionHighlight]="search">  {{item.nombres}}</span></div>
                    <small><b>Email:</b> {{item.email}} </small>
                </ng-template>
                <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                    <div class="ng-option disabled">
                        No hay resultados
                    </div>
                </ng-template>
            </ng-select>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-12 text-center">

                <button id="volver" type="button" class="btn btn-light mb-3 mr-1" [routerLink]="[ '/plazas/listarPlazasSolicitadas' ]">Volver al listado</button>
                <button id="guardar" type="submit" class="btn btn-success mb-3">Guardar</button>
            </div>
        </div>

    </form>
</div>

<div class="modal fade" id="crearTipoPlaza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nombre de plaza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" (click)="formaPlaza.resetForm();">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form (ngSubmit)="guardarNombrePlaza(formaPlaza)" #formaPlaza="ngForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre"><span style="color:red;">*</span>Nombre</label>
                        <input class="form-control" [ngClass]="{'is-invalid ': nombre.errors?.required && (nombre.touched || formaPlaza.submitted) }" type="text" placeholder="Ingrese el nombre de la plaza. Máx. 255 caracteres." name="nombre" id="nombre" [(ngModel)]="plazaTipo.nombre"
                            maxlength="255" required #nombre="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="tipoAyudantia"> <span style="color:red;">*</span>Tipo ayudantía</label>
                        <select [(ngModel)]="plazaTipo.tipoAyudantia" class="form-control" [ngClass]="{'is-invalid ': tipoAyudantia.errors?.required  && (tipoAyudantia.touched || formaPlaza.submitted)}" name="tipoAyudantia" id="tipoAyudantia" #tipoAyudantia="ngModel" required>
              <option value="null" disabled>Seleccione un tipo de ayudantia</option>
              <option *ngFor="let item of tiposAyudantias_aux" [value]="item?.id">{{item?.nombre}}</option>
            </select>
                    </div>
                    <div *ngIf="plazaTipo.tipoAyudantia == 1" class="form-group">
                        <label for="programa_plaza"><span style="color:red;">*</span>Programa</label>
                        <input class="form-control" [ngClass]="{'is-invalid ': programa_plaza.errors?.required && (programa_plaza.touched || formaPlaza.submitted) }" type="text" placeholder="Ingrese el programa de la plaza. Máx. 255 caracteres." name="programa_plaza" id="programa_plaza"
                            [(ngModel)]="plazaTipo.programa" maxlength="255" [required]="plazaTipo.tipoAyudantia == 1" #programa_plaza="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="codigo">Código <small class="text-muted">(Opcional)</small></label>
                        <input class="form-control " type="text" placeholder="Ingrese un código (opcional)" name="codigo" id="codigo" [(ngModel)]="plazaTipo.codigo" #codigo="ngModel" maxlength="255">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="formaPlaza.resetForm();">Cancelar</button>
                    <button type="submit" class="btn btn-success">
            Guardar
          </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ratificarModal" tabindex="-1" role="dialog" aria-labelledby="ratificarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="ratificarModalLabel">Ratificar estudiantes</h5>
                            <button type="button" class="close" aria-label="Cerrar" (click)="verificarEstudiantesSeleccionados()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th rowspan="2" class="align-middle">Estudiante</th>
                            <th rowspan="2" class="align-middle">Programa al que pertenece</th>
                            <th colspan="2" class="align-middle text-center">Evaluación del asistentes</th>
                            <th rowspan="2" class="align-middle">Evaluación del tutor</th>
                            <th rowspan="2" class="align-middle">Seleccionar</th>
                          </tr>
                          <tr>
                            <th class="small">No. de evaluaciones</th>
                            <th class="small">Prom. evaluación</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let monitor of posiblesRatificados">
                          <tr [ngClass]="{'table-success': estudiantesSeleccionados.indexOf(monitor) != -1, 'table-info': monitor.porcentaje_cred == 100, 'table-warning': monitor.porcentaje_cred < plaza.porcentaja_creditos_requeridos || monitor.promedio_acum < plaza.promedio_minimo}">
                            <td>{{monitor.nombre | titlecase}} <span class="d-block small text-secondary">Código: {{monitor.codigo}}</span></td>
                            <td>{{monitor.programa | titlecase}}  <span class="d-block small text-secondary">{{monitor.facultad | titlecase}}</span></td>
                            <td>{{monitor.no_calificaciones}}</td>
                            <td [ngClass]="{'font-weight-bold': monitor.calificaciones >= 80}">{{(monitor.calificaciones || 0) | number : '1.0-2'}}%</td>
                            <td [ngClass]="{'font-weight-bold': monitor.calificaciones >= 80}">{{monitor.calificacion_tutor | number : '1.0-2'}}%</td>
                            <td>
                              <div class="custom-control custom-switch text-center">
                                <input type="checkbox" class="custom-control-input" id="customSwitch-{{monitor.id_estudiante}}" [(checklist)]="estudiantesSeleccionados" [checklistValue]="monitor" [maxSelectedItems]="plaza.cupos_solicitados">
                                <label class="custom-control-label" for="customSwitch-{{monitor.id_estudiante}}">
                                    <span class="sr-only">Ratificar</span>
                                    <span *ngIf="monitor.porcentaje_cred == 100" class="fas fa-exclamation-circle" aria-hidden="true" title="El estudiante tiene un porcentaje de créditos de 100 por lo que puede haber terminado académicamente este semestre."></span>
                                    <span *ngIf="monitor.porcentaje_cred < plaza.porcentaja_creditos_requeridos" class="fas fa-exclamation-circle mr-1" aria-hidden="true" title="El estudiante posee un porcentaje de créditos aprobados ({{monitor.porcentaje_cred}}) menor al indicado en la plaza ({{plaza.porcentaja_creditos_requeridos}})."></span>
                                    <span *ngIf="monitor.promedio_acum < plaza.promedio_minimo" class="fas fa-exclamation-circle mr-1" aria-hidden="true" title="El estudiante posee un promedio mínimo acumulado ({{monitor.promedio_acum}}) menor al indicado en la plaza ({{plaza.promedio_minimo}})."></span>
                                </label>
                              </div>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center alert alert-warning border-0 py-2" *ngIf="plaza.cupos_solicitados == estudiantesSeleccionados.length">
                          <strong>La plaza no se ofertará publicamente</strong>
                      </div>
                      <div class="text-center alert alert-info border-0 py-2" *ngIf="plaza.cupos_solicitados > estudiantesSeleccionados.length">
                          <strong>Cupos solicitados: {{plaza.cupos_solicitados}} | cupos a ofertar: {{plaza.cupos_solicitados - estudiantesSeleccionados.length}}</strong>
                      </div>
                      <p class="small text-center font-weight-bold mb-2">Al seleccionar los estudiantes para ratificar solo quedaran disponibles los cupos restantes que solicite. Si los cupos se llenan con los estudiantes ratificados, la plaza no se ofertará publicamente.</p>
                      <p class="small text-center font-weight-bold">Si modifica el porcentaje de créditos aprobados o el promedio mínimo del estudiante tendrá que volver a seleccionar a los estudiantes ratificados.</p>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-success"  (click)="verificarEstudiantesSeleccionados()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-default shadow-sm" style="position:fixed; bottom: 1rem; right: 1rem;z-index: 10" (click)="initTutorial()">Ayuda <span aria-hidden="true" class="fa fa-question-circle"></span></button>