<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<h2 class="text-uppercase text-center">Listado de estudiantes seleccionados<small class="btn-block">{{convocatoria.nombre}}</small><small class="btn-block text-muted">El listado cuenta con {{criterios.length}} registro(s)</small></h2>
<hr>
<div class="row animated fadeIn">

    <div class="col-md-12">

        <div class="text-center mb-3">

            <button id="btn-filtros" class="btn btn-outline-dark mb-3 mr-1" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                <span class="fa fa-filter" aria-hidden="true"></span> Filtrar registros
            </button>

            <a tabindex="0" *ngIf="userService.roleMatch(['AdminRefrigerios'])" role="button" class="btn btn-light mb-3" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Información de ayuda" data-content="A continuación, se muestra el listado de los estudiantes que fueron seleccionados en un beneficio alimenticio con su criterio de selección. Los datos de esta tabla, pueden ser exportados en un archivo o impresos.">
                <span class="fa fa-question-circle" aria-hidden="true"></span>
                <span class="sr-only">Información de ayuda</span>
            </a>

        </div>

        <div class="collapse mb-3 mb-3" id="collapseFilter">
            <div class="card card-body px-3 pt-3">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div id="filter-programa" class="form-group">
                            <label>Filtrar por programa</label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                        <div id="filter-beneficio" class="form-group">
                            <label>Filtrar por beneficio</label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                        <div id="filter-estado" class="form-group">
                            <label>Filtrar por criterio</label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                        <div id="filter-condicion" class="form-group">
                            <label>Filtrar por condición</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center mb-3" *ngIf="appliedFilters.length > 0"><button *ngFor="let filter of appliedFilters" class="btn btn-default btn-sm mb-1 m-1" (click)="funciones.removeFilter(this, filter)">{{filter.name}} <span class="fa fa-times" aria-hidden="true"></span></button> </div>

        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" id="table">
                <thead>
                    <tr>
                        <th scope="col">Tipo de documento</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Convocatoria</th>
                        <th scope="col">Código</th>
                        <th scope="col">Estudiante</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Beneficio</th>
                        <th scope="col">Días seleccionados</th>
                        <th scope="col">Criterio de selección</th>
                        <th scope="col">Condición</th>
                        <th scope="col">Entregas</th>
                        <th scope="col">Fallas</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let criterio of criterios; let i=index;">
                        <td>{{criterio.tipo_documento}}</td>
                        <td>{{criterio.documento}}</td>
                        <td>{{criterio.nombre}}</td>
                        <td>{{criterio.codigo}}</td>
                        <td>{{criterio.estudiante | titlecase}}</td>
                        <td>{{criterio.programa | titlecase}}</td>
                        <td>{{criterio.beneficio}}</td>
                        <td>{{criterio.dias}}</td>
                        <td>{{criterio.estado}}</td>
                        <td>{{criterio.condicion}}</td>
                        <td>{{criterio.entregas}}</td>
                        <td>{{criterio.fallas}}</td>
                        <td>{{criterio.valor}}</td>
                        <td>{{criterio.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-light mr-1" [routerLink]="[ '/convocatoriasRefrigerio' ]">Volver</button>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>