<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div class="animated fadeIn">
        <h2 class="text-uppercase text-center">Atención de enfermería
            <small class="d-block text-muted">Formulario de atención del paciente.</small>
        </h2>
<hr>
<app-perfil-salud [id]="id" [tipoBusqueda]="profile_by" ></app-perfil-salud>




<div class="card mb-4">
  <div class="card-body"> 
        <form #atencionEnfermeriaForm="ngForm"    (ngSubmit)="AtencionEnfermeria(atencionEnfermeriaForm)" novalidate  >
                <fieldset>
                    <legend>Episodio asistencial</legend>                    
            <div class="card border-info  mb-3">
                <div class="card-body">
                    <div class="card-header text-uppercase text-center text-white bg-info mb-3"><strong>generalidades</strong></div> 
                    <div class="form-row mb-3">     
                        <div class="col-12 col-md-12">
                                <label for="tipos_pacientes"><span class="asterisk">*</span>Tipo de paciente</label>
                                <select class="form-control" 
                                [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || tipos_pacientes.touched) && tipos_pacientes.errors?.required) }" 
                                [(ngModel)]="formulario.tipo_paciente" 
                                id="tipos_pacientes" 
                                name="tipos_pacientes" 
                                required 
                                #tipos_pacientes="ngModel">
                                <option value="null" selected disabled>Seleccione un tipo de paciente</option>
                                <option *ngFor="let tipoPaciente of tiposPacientes" value="{{tipoPaciente.id}}">{{tipoPaciente.nombre}}</option>
                                </select>
                                <div class="invalid-feedback">complete el campo. </div>
                        </div>    
                    </div> 
                    <div class="form-row mb-3">     
                            <div class="col-12 col-md-12">
                                    <label for="tiposAtencionesEnfermeria"><span class="asterisk">*</span>Tipos de atencion para enfermeria</label>
                                    <select class="form-control" 
                                    [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || tiposAtencionesEnfermeria.touched) && tiposAtencionesEnfermeria.errors?.required) }" 
                                    [(ngModel)]="formulario.tipos_de_atencion_enfermeria" 
                                    id="tiposAtencionesEnfermeria" 
                                    name="tiposAtencionesEnfermeria" 
                                    required 
                                    #tiposAtencionesEnfermeria="ngModel">
                                    <option value="null" selected disabled>Seleccione un tipo atencion</option>
                                    <!-- *ngIf="item.id != 2 && atencion.sexo" -->
                                    <option *ngFor="let item of tiposAtencionEnfermeria"  [disabled]="disableOption(item.id)" value="{{item.id}}">{{item.nombre}}</option>
                                    </select>
                                    <div class="invalid-feedback">complete el campo. </div>
                            </div>    
                        </div> 
                    <div class="form-row">
                        <div class="col-12 ">
                            <div id="motivo_consulta" class="form-group">
                                    <label for="motivo_consulta"><span class="asterisk">*</span>Motivo de consulta</label>
                                    <textarea class="form-control " [ngClass]="{'is-invalid ': motivo_consulta.errors?.required && (atencionEnfermeriaForm.submitted || motivo_consulta.touched) }" type="text" placeholder="Ingrese el Motivo de la consulta. Máx 1000 caracteres" name="motivo_consulta"
                                    id="motivo_consulta" [(ngModel)]="formulario.motivo_consulta" required #motivo_consulta="ngModel" rows=6 maxlength="1000"> </textarea>
                                    <div class="invalid-feedback">Ingrese el motivo de la consulta. </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-info  mb-3" >      
                <div class="card-body">
                    <div class="card-header text-uppercase text-center text-white bg-info mb-3"><strong>Impresión diagnóstica</strong></div>                
                    <div class="form-row">
                        <div class="col-12 ">
                                <div id="impresion_diagnostica" class="form-group">
                                    <label for="impresion_diagnostica"><span class="asterisk">*</span>Impresión diagnóstica </label>
                                    <textarea class="form-control " [ngClass]="{'is-invalid ': impresion_diagnostica.errors?.required && (atencionEnfermeriaForm.submitted || impresion_diagnostica.touched) }" type="text" placeholder="Ingrese Impresión diagnóstica actual. Máx 1000 caracteres" name="impresion_diagnostica"
                                    id="impresion_diagnostica" [(ngModel)]="formulario.impresion_diagnostica" required #impresion_diagnostica="ngModel" rows=6 maxlength="1000"> </textarea>
                                    <div class="invalid-feedback">Ingrese la impresión diagnóstica. </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div> 

           
            <div class="card border-info  mb-3" *ngIf="!atencion.sexo && formulario.tipos_de_atencion_enfermeria == 1" >         
                <div class="card-body">
                    <div class="card-header text-center text-uppercase text-white bg-info mb-3"><strong>salud sexual</strong></div>
                    <div class="form-row"  >
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Menarquia"><span  class="asterisk">*</span>Menarquía (Años) </label>
                                        <input type="number" 
                                        name="Menarquia" 
                                        id="Menarquia"
                                        [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || Menarquia.touched) && (Menarquia.errors?.required) )}"                                              
                                        class="form-control form-control-sm"  
                                        [(ngModel)]="formulario.sexual.menarquia"  [required]="requiredSexual()"
                                        #Menarquia="ngModel"  maxlength="50" min="0" />
                                        
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Sexarquia"><span class="asterisk">*</span>Sexarquía (Años)</label>                                                
                                            <input type="number" 
                                            name="Sexarquia" 
                                            id="Sexarquia" 
                                            class="form-control form-control-sm" 
                                            [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || Sexarquia.touched) && (Sexarquia.errors?.required) )}" 
                                            [(ngModel)]="formulario.sexual.sexarquia"  [required]="requiredSexual()"
                                            #Sexarquia="ngModel"  maxlength="50" min="0" />
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="FUM"><span class="asterisk">*</span>FUM</label>
                                        <p-calendar id="FUM"  showButtonBar="true" dateFormat="dd/mm/yy" [(ngModel)]="formulario.sexual.fum"  #FUM="ngModel" [readonlyInput]="true"  name="FUM" [defaultDate]="dateNow" styleClass="d-block"
                                            inputId="Sexarquia" inputStyleClass="form-control form-control-sm" [locale]="es">
                                        </p-calendar>
                                        <div class="text-danger" *ngIf="((atencionEnfermeriaForm.submitted || FUM.touched) && requiredSexual())" ></div>
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Ciclos"><span class="asterisk">*</span>Ciclos</label>
                                        <input type="text" name="Ciclos" id="Ciclos" class="form-control form-control-sm" 
                                        [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || Ciclos.touched) && (Ciclos.errors?.required) )}" 
                                        [(ngModel)]="formulario.sexual.ciclos"  [required]="requiredSexual()"

                                            #Ciclos="ngModel" maxlength="150" />
                                    </div>
                            </div>
                    </div> 
                    
                    <div class="form-row" >
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Partos"><span class="asterisk">*</span>Partos</label>
                                <input type="number" name="Partos" id="Partos" class="form-control form-control-sm" 
                                [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || Partos.touched) && (Partos.errors?.required) )}" 
                                [(ngModel)]="formulario.sexual.partos"  [required]="requiredSexual()"
                                    #Partos="ngModel"  min="0" />
                            </div>
                        </div> 
                        <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Abortos"><span class="asterisk">*</span>Abortos </label>
                                    <input type="number" name="Abortos" id="Abortos" class="form-control form-control-sm"  
                                    [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || Abortos.touched) && (Abortos.errors?.required) )}" 
                                    [(ngModel)]="formulario.sexual.abortos" [required]="requiredSexual()"
                                        #Abortos="ngModel"  min="0" />
                                </div>
                        </div>                 
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Cesareas"><span  class="asterisk">*</span>Cesáreas</label>
                                <input type="number" name="Cesareas" id="Cesareas" class="form-control form-control-sm" 
                                [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || Cesareas.touched) && (Cesareas.errors?.required) )}" 
                                [(ngModel)]="formulario.sexual.cesareas" [required]="requiredSexual()"
                                    #Cesareas="ngModel"  min="0" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="citologia">Ultima citologia</label>
                                <p-calendar id="citologia" showButtonBar="true" dateFormat="dd/mm/yy"   [(ngModel)]="formulario.sexual.ultimaCitologia"  #citologia="ngModel" [readonlyInput]="true"  name="citologia" [defaultDate]="dateNow" styleClass="d-block"
                                inputId="Sexarquia" inputStyleClass="form-control form-control-sm" [locale]="es">
                                </p-calendar>                           
                            </div>
                        </div>
                    </div>

                    <div class="form-row" > 
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label for="planificacion">Metodos de planificación</label>
                                    <input type="text" name="planificacion" id="planificacion" class="form-control form-control-sm"                                
                                    [(ngModel)]="formulario.sexual.metodoPlanificacion" 
                                        #planificacion="ngModel"  maxlength="455" />
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Anticonceptivos">Anticonceptivos</label>
                                <input type="text" name="Anticonceptivos" id="Anticonceptivos" class="form-control form-control-sm"                             
                                [(ngModel)]="formulario.sexual.anticonceptivo" 
                                    #Anticonceptivos="ngModel"  maxlength="455" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 ">
                            <div id="observacion_sexual" class="form-group">
                                <label for="observacion_sexual"><span class="asterisk">*</span>Observaciones salud sexual: </label>
                                <textarea class="form-control" [ngClass]="{'is-invalid ': observacion_sexual.errors?.required && (atencionEnfermeriaForm.submitted || observacion_sexual.touched) }"  type="text" placeholder="Ingrese la observación salud sexual. Máx 1000 caracteres" name="observacion_sexual"
                                maxlength="1000" id="observacion_sexual" [(ngModel)]="formulario.sexual.observacionSexual"  #observacion_sexual="ngModel" rows=6 required > </textarea>
                                <div class="invalid-feedback">Ingrese la observación. </div>
                            </div>
                            </div>
                    </div>
                </div> 
            </div> 
                    
                 
            <div class="card border-info  mb-3"   *ngIf=" formulario.tipos_de_atencion_enfermeria == 2">
                <div class="card-body">
                    <div class="card-header text-uppercase text-center text-white bg-info mb-3"><strong>riesgos metabólicos</strong></div> 
                    <div class="form-row" >
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="peso"><span class="asterisk">*</span>peso (Kg)</label>
                                        <input type="number" name="peso" id="peso" class="form-control form-control-sm" 
                                        [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || peso.touched) && (peso.errors?.required) )}" 
                                        [(ngModel)]="formulario.metabolicos.peso"  required
                                            #peso="ngModel"  min="0" />
                                    </div>
                            </div> 
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="perimetro_abdominal"><span  class="asterisk">*</span>Perimétro abdominal </label>
                                        <input type="number" name="perimetro_abdominal" id="perimetro_abdominal" class="form-control form-control-sm"  
                                        [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || perimetro_abdominal.touched) && (perimetro_abdominal.errors?.required) )}" 
                                        [(ngModel)]="formulario.metabolicos.perimetroAbdominal" required
                                            #perimetro_abdominal="ngModel"  min="0" />
                                    </div>
                            </div>                 
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="estatura"><span  class="asterisk">*</span>Estatura (cm)</label>
                                        <input type="number" name="estatura" id="estatura" class="form-control form-control-sm" 
                                        [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || estatura.touched) && (estatura.errors?.required) )}" 
                                        [(ngModel)]="formulario.metabolicos.estatura" required
                                            #estatura="ngModel"  min="0" />
                                    </div>
                            </div>            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="presion"><span  class="asterisk">*</span>Presión arterial</label>
                                    <input type="text" name="presion" id="presion" class="form-control form-control-sm" 
                                    [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || presion.touched) && (presion.errors?.required) )}" 
                                    [(ngModel)]="formulario.metabolicos.presion" required
                                        #presion="ngModel"  maxlength="150" />
                                </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                                    <label for="glicemmia"><span  class="asterisk">*</span>glicemia</label>
                                    <input type="text" name="glicemmia" id="glicemmia" class="form-control form-control-sm" 
                                    [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || glicemmia.touched) && (glicemmia.errors?.required) )}" 
                                    [(ngModel)]="formulario.metabolicos.glicemia"  required
                                        #glicemmia="ngModel"  maxlength="455" />
                            </div>
                            </div>                                             
                    </div>
                </div>
            </div> 
  
                <div class="card border-info  mb-3" >  
                    <div class="card-body">
                            <div class="card-header text-uppercase text-center text-white bg-info mb-3"><strong> cie 10</strong></div>                            
                            <div class="form-row mb-2">                                    
                                    <div class="col-11 ">
                                            <ng-select [items]="cie_10" inputStyleClass="form-control form-control-sm"  id="cie10" bindLabel="nombre"  placeholder="Seleccione cie 10" name="cie10" #cie10 ="ngModel"
                                            [(ngModel)]="cieValue">
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                    <div><span [ngOptionHighlight]="search"> {{item.codigo}} - {{item.nombre}}</span></div>
                                            </ng-template>
                                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                                <div class="ng-option disabled">
                                                    No hay resultados
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                    <div class="col-1">
                                    <button class="btn btn-success " (click)="ingresarCodigos(cieValue); cieValue= null" type="button">añadir</button>                      
                                    </div>
                            </div>                            
                            <table class="table table-light" *ngIf="aux_cie10.length > 0">
                                    <thead>
                                            <tr>
                                                <th scope="col">Código </th>
                                                <th scope="col" class="text-center">Nombre</th>
                                                <th scope="col" class="text-center" style="width: 100px;">Acciones</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let item of aux_cie10; let i ">          
                                                <td>{{item.codigo}}</td>
                                                <td>{{item.nombre}}</td>
                                                <td><button class="btn btn-sm btn-outline-dark" (click)="aux_cie10.splice(aux_cie10.indexOf(item),1)" type="button"><span class="fas fa-times"></span></button></td>
                                            </tr>
                                    </tbody>
                            </table>
                    </div>
                </div>
                

                    
            <div class="card border-info  mb-3"  *ngIf=" formulario.tipos_de_atencion_enfermeria == 3"  >            
                <div class="card-body">            
                    <div class="card-header text-uppercase text-center text-white bg-info mb-3"><strong>Formulario</strong></div>
                        <div class="form-row"> 
                            <div class="col-8">
                                <label for="medicamentos">Medicamentos(s)</label>
                                <ng-autocomplete #ngAutoCompleteStatic
                                        [data]="medicamentos"
                                        name="name"
                                        [(ngModel)]="medicamento.nombre_medicamento"
                                        [initialValue]=""
                                        placeHolder="Ingrese el medicamento"
                                        searchKeyword="nombre"
                                        [itemTemplate]="itemTemplateStatic"                                     
                                        >
                                </ng-autocomplete>  
                                    <ng-template #itemTemplateStatic let-item>
                                        <a [innerHTML]="item.nombre"></a>
                                    </ng-template>             
                                    
                            </div>
                             <!-- [ngClass]="{'is-invalid': ((atencionEnfermeriaForm.submitted || tipo_medicamento.touched) && tipo_medicamento.errors?.required) }"   -->
                            <div class="col-4">                                    
                                <div id="tipoMedicamento" class="form-group">     
                                    <label for="tipoMedicamento">Tipo de medicamentos</label>  
                                    <select class="form-control"                                    
                                    [(ngModel)]="medicamento.tipoMedicamento" 
                                    id="tipo_medicamento" 
                                    name="tipo_medicamento" 
                                
                                    #tipo_medicamento="ngModel">
                                    <option value="null" selected disabled>Seleccione un tipo medicamento</option>
                                    <option *ngFor="let item of tipos_medicamentos" value="{{item.id}}">{{item.nombre}}</option>
                                    </select>
                                    <div class="invalid-feedback">complete el campo. </div> 
                                </div>
                            </div>  
                            <div class="col-12">
                                    
                                <div id="procedimientos" class="form-group">     
                                    <!-- <label for="medicamentos"><span  class="asterisk">*</span>Pocedimientos</label>                    -->
                                    <input type="text" name="procedimientos" id="procedimientos" class="form-control "                        
                                    [(ngModel)]="medicamento.procedimientos"
                                    #procedimientos="ngModel"  maxlength="1000" placeholder="Procedimentos" />
                                    <div class="invalid-feedback">procedimentos. </div>
                                </div>
                            </div>   
                        
                        <div class="col-11">                                    
                                <div id="Observacion_medicamento" class="form-group">     
                                 <!-- <label for="medicamentos"><span  class="asterisk">*</span>Obsevaciones</label>                    -->
                                    <input type="text" name="Observacion_medicamento" id="Observacion_medicamento" class="form-control "                        
                                    [(ngModel)]="medicamento.Observacion_medicamento"
                                    #Observacion_medicamento="ngModel"  maxlength="1000" placeholder="Observacion" />
                                    <div class="invalid-feedback">Ingrese la receta. </div>
                                </div>
                            </div>    
                            
                        <div class="col-1 ">
                                <div id="Observacion_medicamento-boton" class="form-group">                                  
                                        <button class="btn  btn-success cen" (click)="ingresarMedicamento(medicamento); "  type="button">añadir</button>                      
                                </div>
                        </div>   

                

                        </div>  
                        </div>
                    
                        
                            <table class="table table-light" *ngIf="Medicamentos.length > 0">
                                <thead>
                                        <tr>
                                            <th scope="col">Medicamento(s) </th>
                                            <th scope="col">Tipo de medicamento </th>
                                            <th scope="col" >Procedimiento</th>
                                            <th scope="col" >Observaciones</th>                               
                                            <th scope="col" class="text-center" style="width: 100px;">Acciones</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let item of Medicamentos; let i ">
                                            <td>{{item.nombre_medicamento}}</td>
                                            <td>{{tipoMed(item.tipoMedicamento)}}</td>
                                            <td>{{item.procedimientos}}</td>
                                            <td>{{item.Observacion_medicamento}}</td>                                      
                                           <td><button class="btn btn-sm btn-outline-dark" (click)="Medicamentos.splice(Medicamentos.indexOf(item),1)" type="button"><span class="fas fa-times"></span></button></td>
                                        </tr>
                                </tbody>
                            </table>
                        
                            <div class="col-12 ">
                                <div id="ObservacionAplicacion" class="form-group">
                                    <label for="ObservacionAplicacion">Observaciones aplicación de medicamentos</label>
                                    <textarea class="form-control"   type="text" placeholder="Ingrese la observación para la aplicación de medicamentos. Máx 1000 caracteres" name="ObservacionAplicacion"
                                    maxlength="1000" id="ObservacionAplicacion" [(ngModel)]="formulario.ObservacionAplicacion"  #ObservacionAplicacion="ngModel" rows=6  > </textarea>
                                    
                                </div>
                            </div>
                                  
                </div>   
                </fieldset> 
            
                <hr>

                <div class="text-center">
                            <!-- <button id="volver" type="button" class="btn btn-default mr-md-1 mb-3" [routerLink]="[ '/perfil']">Volver</button> -->
                            <button id="guardar" type="submit" class="btn btn-success mb-3">Guardar</button>
                </div>

            </form> 

            <!-- {{formulario|json}} -->
         </div>
    </div>
</div> 