<!-- <div class="row animated fadeIn shadow-sm rounded border mb-3" *ngIf="estudiante">
    <div class="col-12 col-sm-12 col-md-3 col-xl-2 d-flex justify-content-center align-items-center">
        <div class="text-center img-profile shadow mt-2 mb-2">
            <img [src]="estudiante.foto" *ngIf="estudiante.foto" class="rounded h-100">
            <img src="../../../../../assets/img/profile.png" *ngIf="!estudiante.foto" class="rounded h-100">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-9 col-xl-10 d-flex align-items-center">
        <div class="row text-center text-md-left">
            <div class="col-12">
                <h3 class="h4 mb-3">
                    <small class="d-block text-muted">Nombre</small> {{estudiante.nombre}}
                </h3>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="form-group">
                    <label class="m-0 text-muted">Código</label>
                    <p class="form-control-plaintext p-0">{{estudiante.codigo}}</p>
                </div>
            </div>
            <div class="col-md-8 col-xl-9">
                <div class="form-group">
                    <label class="m-0 text-muted">Correo electrónico</label>
                    <p class="form-control-plaintext p-0">{{estudiante.email}}</p>
                </div>
            </div>
        </div>
        
    </div>
</div> -->