.labels-sm label {
    font-size: 0.875rem;
    color: dimgrey;
}

.w-16 {
    width: 100%;
}

.btn-default{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.table td{
    padding: 6px;
}

@media only screen and (min-width: 768px) {
    .w-16 {
        width: 50%;
    }
}

@media only screen and (min-width:768px){
    .convocatoriaInfo{
        width:100%; 
        float: none; 
        margin: 0 auto;
    }
}
