<h2 class="text-uppercase animated fadeIn text-center">Historial de convocatorias <small class="d-block text-muted">El listado cuenta con {{convocatorias.length}} registros</small></h2>
<hr>
<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div class="table-responsive animated fadeIn">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" id="table-historialConvocatorias">
        <thead>
            <tr>
                <th style="width: 150px;">Fecha de expedición</th>
                <th>Nombre</th>
                <th>Estado control</th>
                <!-- <th>Estado</th> -->
                <th style="width: 80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let convocatoria of convocatorias  ; let i=index">
                <td attr.data-order="{{convocatoria.fecha_expedicion}}">{{convocatoria.fecha_expedicion | date: 'dd/MM/yyyy'}}</td>
                <td>{{convocatoria.titulo}}</td>
                <td>{{convocatoria.estado_control_id | iDToName:estados}}</td>
                <!-- <td>
                    <span *ngIf="convocatoria.estado">Activa</span>
                    <span *ngIf="!convocatoria.estado">Inactiva</span>
                </td> -->
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-sm btn-outline-dark border-secondary btn-detalle" [routerLink]="[ '/convocatorias/detalle', convocatoria.id ]" title="Detalle de convocatoria">
                        <span class="fas fa-info-circle" aria-hidden="true"></span>
                        <span class="sr-only">Detalle de convocatoria</span>
                    </button>
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-sm btn-outline-dark border-secondary dropdown-toggle btn-masAcciones" type="button" id="dropdownMenuButton{{convocatoria.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Más acciones">
                            <span class="fas fa-ellipsis-v"></span><span class="sr-only">Más acciones</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" attr.aria-labelledby="dropdownMenuButton{{convocatoria.id}}">
                            <button (click)="viewDoc(convocatoria.soporte)" class="dropdown-item" type="button" title="Ver soporte">
                                Ver soporte
                            </button>
                            <a class="dropdown-item" role="button" [routerLink]="['/plazas/plazasRespondidas', convocatoria.id, tipo_convocatoria]">
                                Ver plazas               
                            </a>
                            <button *ngIf="_userService.roleMatch(['Admin','AdminMonitorias']) && tipo_convocatoria == 3" class="dropdown-item" type="button" (click)="getlista(convocatoria)">
                                Exportar estudiantes postulados
                            </button>
                            <a *ngIf="_userService.roleMatch(['Admin','AdminMonitorias']) && tipo_convocatoria == 3" class="dropdown-item" role="button" [routerLink]="['/cuantificacionPlazas', convocatoria.id]">
                                Reporte de cantidad de estudiantes por plaza              
                            </a>
                            <button *ngIf="_userService.roleMatch(['ComiteMonitorias'])" class="dropdown-item" type="button" (click)="reporteHorasEstudianteComite(convocatoria)">
                                Reporte de horas realizadas por estudiante               
                            </button>
                            <a *ngIf="_userService.roleMatch(['Admin','AdminMonitorias']) && tipo_convocatoria == 3" class="dropdown-item" role="button" [routerLink]="['/horasActividades', convocatoria.id]">
                                Reporte de horas realizadas por estudiante               
                            </a>
                            <a *ngIf="_userService.roleMatch(['AdminMonitorias']) && tipo_convocatoria == 3" class="dropdown-item" role="button" [routerLink]="['/monitorias/estudiantes-atendidos', convocatoria.id]">
                                Ver estudiantes atendidos por monitores
                            </a>
                            <!--Convocatorias refrigerios-->
                            <button (click)="getlista(convocatoria)" title="Exportar estudiantes seleccionados" class="dropdown-item" type="button">
                                Exportar estudiantes seleccionados
                              </button>

                            <a *ngIf="userService.roleMatch(['AdminRefrigerios','ProyeccionSocial']) && tipo_convocatoria == 2" role="button" class="dropdown-item" [routerLink]="[ '/listadoFallas', convocatoria.id ]" title="Listado de fallas">
                                Listado de fallas
                            </a> 

                            <a *ngIf="userService.roleMatch(['AdminRefrigerios']) && tipo_convocatoria == 2" role="button" class="dropdown-item" [routerLink]="[ '/cancelaciones', convocatoria.id ]" title="Solicitudes de cancelación">
                                Solicitudes de cancelación
                            </a>

                            <a *ngIf="userService.roleMatch(['AdminRefrigerios', 'ContaduriaBeneficios','EntregasExtemporaneas','ProyeccionSocial']) && tipo_convocatoria == 2" role="button" class="dropdown-item" [routerLink]="[ '/reportes', convocatoria.id ]" title="Generar reportes">
                                Generar reportes
                            </a> 
                        </div>
                    </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">

                <h4 class="modal-title" id="modelTitleId">Documento de soporte</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <iframe [src]="urlDoc  | donseguro: api" width="100%" height="700px" frameborder="0"></iframe>
            </div>

        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<button class="btn btn-default shadow-sm" style="position:fixed; bottom: 1rem; right: 1rem;z-index: 10" (click)="initTutorial()">Ayuda <span aria-hidden="true" class="fa fa-question-circle"></span></button>