<div class="row animated fadeIn mb-3 mt-3">
    <div class="col-lg-12 text-center">
        <button id="btn-filtros" class="btn btn-outline-dark mb-3 mr-1" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span class="fa fa-filter" aria-hidden="true"></span> Filtrar registros
        </button>
    <!-- <button type="button" class="btn btn-light mr-1" [routerLink]="[ '/miCitas']" >Reservar nueva cita</button> -->
    </div>
    <div class="collapse col-lg-12" id="collapseFilter">
        <div class="card card-body px-3 pt-3">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4">
                    <div id="filter-fecha2" class="form-group">
                        <label>Filtrar por fecha</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-12">
    <!-- <div class="d-flex flex-wrap justify-content-center mb-3" *ngIf="appliedFilters2.length > 0"><button *ngFor="let filter of appliedFilters2" class="btn btn-default btn-sm mb-1 m-1" (click)="funciones.removeFilter(this, filter)">{{filter.name}} <span class="fa fa-times" aria-hidden="true"></span></button> </div>
    --><h4 class="text-center">Atenciones no programadas registradas</h4> 
    <div class="table-responsive">
        <table id="table2" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-stripper">
            <thead>
                <tr>
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col" class="text-center">Paciente</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Hora de atencion</th>
                    <!-- <th scope="col" class="text-center" style="width: 100px;">Acciones</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of atencionesNoProgramadas ; let i = index; ">
                    <td class="text-center">{{item.paciente}}</td>
                    <td class="text-center">{{item.fecha}}</td>
                    <td class="text-center">{{item.hora_atencion}}</td>    
                </tr>

            </tbody>
        </table>
    </div>
</div>    
<div class="text-center">
    <a id="volver" role="button" class="btn btn-light  mr-md-1 mb-3" (click)="backClicked()" >Volver</a>
</div>