<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div class="animated fadeIn">
    <h2 class="text-uppercase text-center">Profesional de la salud</h2>
    <hr>

    <div class="alert alert-danger alert" *ngIf="errores.length > 0">
        <label><b>Corrige los errores:</b></label>
        <ul>
            <div *ngFor="let error of errores">
                <li *ngIf="error.errores.length>0">
                    <p>{{error.errores[0].ErrorMessage}}</p>
                </li>
            </div>
        </ul>
    </div>
    
    <form (ngSubmit)="guardar(profesionalForm)" #profesionalForm="ngForm">

        <fieldset>
            <legend *ngIf="profesional.id == null">Formulario de creación de profesional de la salud</legend>
            <legend *ngIf="profesional.id != null">Formulario de edición de profesional de la salud</legend>
            <fieldset>
                <div class="alert alert-info">
                    Todos los campos son obligatorios
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="identificacion">Identificación</label>
                            <input type="number" name="identificacion" id="identificacion" class="form-control" [ngClass]="{'is-invalid': ((profesionalForm.submitted || identificacion.touched) && (identificacion.errors?.required) )}" [(ngModel)]="profesional.identificacion" required
                                #identificacion="ngModel" placeholder="No. de identificación" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombres">Nombres</label>
                            <input type="text" name="nombres" id="nombres" class="form-control" [ngClass]="{'is-invalid': ((profesionalForm.submitted || nombres.touched) && (nombres.errors?.required) )}" [(ngModel)]="profesional.nombres" required #nombres="ngModel" placeholder="Nombres completos"
                                maxlength="255" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-g31    67890'+
                        0
                        [+
                        roup">
                            <label for="sexo">Sexo</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="sexo" value="true" checked [(ngModel)]="profesional.sexo" required #sexo="ngModel">
                                <label class="form-check-label" for="sexo">M</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="sexo2" value="false" [(ngModel)]="profesional.sexo" required #sexo="ngModel">
                                <label class="form-check-label" for="sexo2">F</label>
                            </div>
                            <br *ngIf="((profesionalForm.submitted || sexo.touched) && sexo.errors?.required)">
                            <small *ngIf="((profesionalForm.submitted || sexo.touched) && sexo.errors?.required)" class="text-danger">Campo requerido</small>
                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text" name="email" id="email" class="form-control" [ngClass]="{'is-invalid': ((profesionalForm.submitted || email.touched) && (email.errors?.required) )}" [(ngModel)]="profesional.email" required #email="ngModel" placeholder="Ej: usuario@unimagdalena.edu.co"
                                maxlength="255" />
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="form-group">
                            <label for="tipoProfesional">Tipo de profesional</label>
                            <select class="form-control" [ngClass]="{'is-invalid': ((profesionalForm.submitted || tipoProfesional.touched) && tipoProfesional.errors?.required) }" [(ngModel)]="profesional.tipoProfesional_id" id="tipoProfesional" name="tipoProfesional" required #tipoProfesional="ngModel">
                <option value="null" selected disabled>Seleccione el tipo de profesión</option>
                <option *ngFor="let tipoProfesional of tiposProfesionales" value="{{tipoProfesional.id}}">{{tipoProfesional.nombre}}</option>
              </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-primary"><strong>Las credenciales para el inicio de sesión son las mismas con la que accede al directorio activo</strong></p>
                </div>
            </div>

            <div class="text-center">
                <hr>
                <button type="button" class="btn btn-light mr-1 mb-3" title="Volver al listado" [routerLink]="[ '/profesionalesSalud/listar-profesionales']">Volver al listado</button>
                <button type="submit" class="btn btn-success mr-1 mb-3">Guardar</button>
            </div>
        </fieldset>
    </form>

</div>