<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div class="mt-3 animated fadeIn">
    <h2 class="text-uppercase text-center">Lugares de atención <small class="d-block text-muted">El listado cuenta con {{lugares.length}} registro(s)</small></h2>
    <hr>

    <div class="row">
        <div class="col-lg-12 text-center">
            <!--  -->
            <button (click)="crear()" class="btn btn-success text-uppercase mb-3 mr-1" type="button" title="Crear nuevo espacio">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Agregar espacio
        </button>
            <button id="btn-filtros" class="btn btn-outline-dark mb-3 mr-1" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span class="fa fa-filter" aria-hidden="true"></span> Filtrar registros
          </button>
            <a tabindex="0" role="button" class="btn btn-light mb-3" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Información de ayuda" data-content="A continuación, se muestran los espacios de salud y módulos administrativos de configuración. En esta vista prodrás crear, editar, activar o desactivar los registros de los periodos relacionados con las ayudantías académicas, además de descargar e imprimir los datos. Haz clic en el que deseas acceder.">
                <span class="fa fa-question-circle" aria-hidden="true"></span>
                <span class="sr-only">Información de ayuda</span>
            </a>
        </div>

        <div class="collapse col-lg-12 mb-3" id="collapseFilter">
            <div class="card card-body px-3 pt-3">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div id="filter-lugar" class="form-group">
                            <label>Filtrar por lugar</label>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                        <div id="filter-estado" class="form-group">
                            <label>Filtrar por estado</label>

                        </div>
                    </div>

                </div>
            </div>
        </div>




        <div class="col-lg-12 mb-5">
            <div class="d-flex flex-wrap justify-content-center mb-3" *ngIf="appliedFilters.length > 0"><button *ngFor="let filter of appliedFilters" class="btn btn-default btn-sm mb-1 m-1" (click)="funciones.removeFilter(this, filter)">{{filter.name}} <span class="fa fa-times" aria-hidden="true"></span></button> </div>
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-stripper">
                    <thead>
                        <tr>


                            <th scope="col">Nombre</th>
                            <th scope="col" class="text-center">Lugar</th>
                            <th scope="col" class="text-center">Cupos atención</th>
                            <th scope="col" class="text-center">Tiempo atención</th>
                            <th scope="col" class="text-center">Estado</th>
                            <th scope="col" class="text-center" style="width: 100px;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let lugar of lugares">

                            <td>{{lugar.nombre}}</td>
                            <td class="text-center">{{lugar.lugar}}</td>
                            <td class="text-center">{{lugar.cupos_atencion}}</td>
                            <td class="text-center">{{lugar.tiempo_atencion}} minutos</td>
                            <td class="text-center">{{lugar.estado? 'Activo' : 'Inactivo' }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Acciones">

                                    <button (click)="verDetalle(lugar)" class="btn btn-sm btn-outline-dark border-secondary" type="button" title="Ver detalle">
                                  <span class="fas fa-info-circle" aria-hidden="true"></span>
                                  <span class="sr-only">Ver Detalle</span>
                          </button>

                                    <button (click)="editar(lugar)" class="btn btn-sm btn-outline-dark border-secondary" type="button" title="Editar">
                              <span class="fa fa-pen" aria-hidden="true"></span>
                              <span class="sr-only">Editar</span>
                          </button>


                                    <button (click)="estadoDato(lugar)" class="btn btn-sm btn-outline-dark border-secondary" type="button" [title]="lugar.estado? 'Desactivar' : 'Activar'">
    
                              <span [ngClass]="{'fa-eye-slash': lugar.estado, 'fa-eye':!lugar.estado}"  class="far" aria-hidden="true"></span>
                              <span *ngIf="!lugar.estado" class="sr-only">Activar registro</span>
                              <span *ngIf="lugar.estado" class="sr-only">Desactivar registro</span>
                          </button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>


<div class="modal fade" id="crearEspacio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear espacio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="forma.resetForm();error=[];">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form (ngSubmit)="guardarEspacio(forma)" #forma="ngForm" novalidate>
                <div class="modal-body">
                    <!-- {{espacio | json}} -->
                    <div class="alert alert-danger alert" *ngIf="error.length > 0">
                        <label><b>Corrige los errores:</b></label>
                        <ul>
                            <div *ngFor="let error of error">
                                <li *ngIf="error.errores.length>0">
                                    <p>{{error.errores[0].ErrorMessage}}</p>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="alert alert-info" role="alert">
                        Todos los campos son obligatorios.
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input class="form-control " [ngClass]="{'is-invalid ': (forma.submitted || nombre.touched) && nombre.errors?.required }" type="text" placeholder="Ingrese el nombre del espacio. Máx 255 caracteres" maxlength="255" name="nombre" id="nombre" [(ngModel)]="espacio.nombre"
                                    required #nombre="ngModel">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="lugar">Ubicación</label>
                                <input class="form-control " [ngClass]="{'is-invalid ': (forma.submitted || lugar.touched) && lugar.errors?.required }" type="text" placeholder="Ingrese la ubicación. Máx 255 caracteres" maxlength="255" name="lugar" id="lugar" [(ngModel)]="espacio.lugar"
                                    required #lugar="ngModel">
                            </div>
                        </div>
                    </div>



                    <div class="form-row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tiempo_atencion">Tiempo de atención</label>
                                <select [ngClass]="{'is-invalid': (tiempo_atencion.errors?.required || tiempo_atencion.errors?.min ) && (tiempo_atencion.touched || forma.submitted )}" id="tiempo_atencion" class="form-control" name="tiempo_atencion" [(ngModel)]="espacio.tiempo_atencion"
                                    #tiempo_atencion="ngModel" required>
                                <option [value]="null" selected disabled  > Seleccione tiempo </option>
                                <option *ngFor="let tempo of tiempo" [value]="tempo.id">{{tempo.nombre}}</option>
                                
                              </select>
                                <div class="invalid-feedback">Seleccione una de las opciones</div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cupos">Cupos de atención </label>
                                <input class="form-control " [ngClass]="{'is-invalid ': (forma.submitted || cupos.touched) && (cupos.errors?.required || cupos.errors?.min) }" type="number" placeholder="Ingrese el cupo." [min]="1" name="cupos" id="cupos" [(ngModel)]="espacio.cupos_atencion"
                                    required #cupos="ngModel">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="observacion">Observación</label>
                                <textarea class="form-control " [ngClass]="{'is-invalid ': observacion.errors?.required && (forma.submitted || observacion.touched) }" type="text" maxlength="455" rows="4" placeholder="Escriba aquí la descripción del espacio. Máx 455 caracteres" name="observacion"
                                    id="observacion" [(ngModel)]="espacio.descripcion" required #observacion="ngModel"> </textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="forma.resetForm(); error=[];">Cancelar</button>
                    <button type="submit" class="btn btn-success">
                        Guardar
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editarEspacio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar espacio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="formaEditar.resetForm();error=[];">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (ngSubmit)="guardarEditarEspacio(formaEditar)" #formaEditar="ngForm" novalidate>
                <div class="modal-body">

                    <div class="alert alert-danger alert" *ngIf="error.length > 0">
                        <label><b>Corrige los errores:</b></label>
                        <ul>
                            <div *ngFor="let error of error">
                                <li *ngIf="error.errores.length>0">
                                    <p>{{error.errores[0].ErrorMessage}}</p>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="alert alert-info" role="alert">
                        Todos los campos son obligatorios.
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nombreEdit">NombreEdit</label>
                                <input class="form-control " [ngClass]="{'is-invalid ': (formaEditar.submitted || nombreEdit.touched) && nombreEdit.errors?.required }" type="text" placeholder="Ingrese el nombre del espacio. Máx 255 caracteres" maxlength="255" name="nombreEdit" id="nombreEdit"
                                    [(ngModel)]="espacio.nombre" required #nombreEdit="ngModel">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="lugarEdit">Ubicación</label>
                                <input class="form-control " [ngClass]="{'is-invalid ': (formaEditar.submitted || lugarEdit.touched) && lugarEdit.errors?.required }" type="text" placeholder="Ingrese la ubicación. Máx 255 caracteres" maxlength="255" name="lugarEdit" id="lugarEdit" [(ngModel)]="espacio.lugar"
                                    required #lugarEdit="ngModel">
                            </div>
                        </div>
                    </div>


                    <div class="form-row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tiempo_atencionEdit">Tiempo de atención </label>
                                <select [ngClass]="{'is-invalid': tiempo_atencionEdit.errors?.required && (tiempo_atencionEdit.touched || formaEditar.submitted)}" id="tiempo_atencionEdit" class="form-control" name="tiempo_atencionEdit" [(ngModel)]="espacio.tiempo_atencion" #tiempo_atencionEdit="ngModel"
                                    required>
                                    <option value ="null" disabled selected>Seleccione tiempo</option>
                                    <option *ngFor="let tempo of tiempo" [value]="tempo.id">{{tempo.nombre}}</option>
                                    
                                  </select>
                                <div class="invalid-feedback">Seleccione una de las opciones</div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cuposEdit">Cupos de atención </label>
                                <input class="form-control " [ngClass]="{'is-invalid ': (formaEditar.submitted || cuposEdit.touched) && (cuposEdit.errors?.required || cuposEdit.errors?.min) }" type="number" placeholder="Ingrese el cupo." [min]="1" name="cuposEdit" id="cuposEdit" [(ngModel)]="espacio.cupos_atencion"
                                    required #cuposEdit="ngModel">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="observacionEdit">Observación</label>
                                <textarea class="form-control " [ngClass]="{'is-invalid ': observacionEdit.errors?.required && (formaEditar.submitted || observacionEdit.touched) }" maxlength="455" type="text" rows="4" placeholder="Escriba aquí la descripción del espacio. Máx 455 caracteres"
                                    name="observacionEdit" id="observacionEdit" [(ngModel)]="espacio.descripcion" required #observacionEdit="ngModel"> </textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="formaEditar.resetForm(); error=[];">Cancelar</button>
                    <button type="submit" class="btn btn-success">
                            Guardar
                            </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="VerDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Detalles del espacio </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label><b>Nombre</b></label>
                    <p class="form-control-plaintext">{{espacio.nombre}}</p>
                </div>
                <div class="form-group">
                    <label><b>Lugar</b></label>
                    <p class="form-control-plaintext">{{espacio.lugar}}</p>
                </div>
                <div class="form-group">
                    <label><b>Observación</b></label>
                    <p class="form-control-plaintext">{{espacio.descripcion}}</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>