<div class="mt-3 animated fadeIn">
    <h2 class="text-uppercase text-center">Excusas registradas <small class="btn-block text-muted">El listado cuenta con {{excusas.length}} registro(s)</small></h2>
    <hr>
    <div class="row">
        <div *ngIf="convocatorias.length > 0" class="col-12 text-center">
            <button  (click)="modalAgregarExcusa()" type="button" class="btn btn-success mb-3 mr-1 text-uppercase" title="Crear tipo de profesional">
            <span class="fas fa-plus"></span> Agregar excusa</button>
            <a tabindex="0" role="button" class="btn btn-light mb-3" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Información de ayuda" data-content="A continuación, se muestra el listado de las excusas que usted ha registrado en el sistema.">
                <span class="fa fa-question-circle" aria-hidden="true"></span>
                <span class="sr-only">Información de ayuda</span>
            </a>
            <!-- <div class="card border-light mb-3">
            <div class="card-header">Información</div>
            <div class="card-body text-secondary">          
              <p class="card-text text-left">A continuación, se muestran los usuarios registradas en el sistema. Usted puede editar, activar o desactivar el registro almacenado.</p>
            </div>
        </div> -->
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>Convocatoria</th>
                            <th>Beneficio</th>
                            <th>Descripción</th>
                            <th>Fecha de excusa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exc of excusas; let i = index">
                            <td>{{exc.convocatoria}}</td>
                            <td>{{exc.beneficio}}</td>
                            <td>{{exc.descripcion}}</td>
                            <td>{{exc.fecha}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-default mr-md-1 mb-3" [routerLink]="['/estudiantes', 'dashboard']">Volver al perfil</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="agregarExcusaModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-header">

                <h5 class="modal-title" id="modelTitleId">Agregar excusa</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="agregarExcusaForm.resetForm();" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (ngSubmit)="agregarExcusa(agregarExcusaForm)" #agregarExcusaForm="ngForm" novalidate>
                <div class="modal-body">
                    <div class="alert alert-danger alert" *ngIf="errores.length > 0">
                        <label><b>Corrige los errores:</b></label>
                        <ul>
                            <div *ngFor="let error of errores">
                                <li *ngIf="error.errores.length>0">
                                    <p>{{error.errores[0].ErrorMessage}}</p>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="alert alert-danger alert" *ngIf="mensaje!=null">
                        <label><b>Corrige los errores:</b></label>
                        <ul>
                            <li>
                                <p>{{mensaje}}</p>
                            </li>
                        </ul>
                    </div>
                    {{ excusa.fecha_excusa }}

                    <fieldset>
                        <div class="alert alert-info">
                            Todos los campos son obligatorios a excepción del soporte
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="col-12 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="agregarExcusaForm">Convocatoria</label>
                                    <select class="form-control" [ngClass]="{'is-invalid': ((agregarExcusaForm.submitted || convocatoria.touched) && convocatoria.errors?.required) }" [(ngModel)]="convocatoriaSelect" id="convocatoria" name="convocatoria" required #convocatoria="ngModel">
                            <option value="null" selected disabled>Seleccione convocatoria</option>
                            <option *ngFor="let conv of convocatorias" [ngValue]="conv">{{conv.nombre}}</option>
                            </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-sm-6" *ngIf="convocatoriaSelect != null">
                                <div class="form-group">
                                    <label for="beneficioSelect">Beneficio</label>
                                    <select class="form-control" [ngClass]="{'is-invalid': ((agregarExcusaForm.submitted || beneficioSelect.touched) && beneficioSelect.errors?.required) }" [(ngModel)]="beneficioSeleccionado" id="beneficioSelect" name="beneficioSelect" required #beneficioSelect="ngModel">
                                <option value="null" disabled>Seleccione el beneficio</option>
                                <option *ngFor="let bene of convocatoriaSelect.beneficios" [ngValue]="bene">{{bene.nombre}}</option>
                            </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="beneficioSeleccionado != null">
                            <div id="fecha_excusa" class="form-group">
                                <label for="fecha_excusa">Fecha de excusa</label>
                                <div class="ui-g ui-fluid">
                                    <div class="ui-g-12 ui-md-12 p-0">
                                        <p-calendar [ngClass]="{'is-invalid': ((agregarExcusaForm.submitted || fecha_excusa.touched) && fecha_excusa.errors?.required) }" inputStyleClass="form-control" id="fecha_excusa" name="fecha_excusa" [(ngModel)]="excusa.fecha_excusa" dateFormat="dd/mm/yy"
                                            [disabledDays]="beneficioSeleccionado.diasDeshabilitados" [readonlyInput]="true" required #fecha_excusa="ngModel" (onBlur)='validation(fecha_excusa)' (onSelect)='validation(fecha_excusa)' [maxDate]="fecha_maxima"
                                            [minDate]="dateNow"></p-calendar>
                                        <span class="invalid-feedback" [ngClass]="{'d-block': (agregarExcusaForm.submitted || fecha_excusa.touched) && fecha_excusa.errors?.required}">
                          Este campo es requerido
                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control " [ngClass]="{'is-invalid ': descripcion.errors?.required && (agregarExcusaForm.submitted || descripcion.touched) }" type="text" placeholder="Ingrese el motivo de la excusa. Máx 455 caracteres" name="descripcion" id="descripcion"
                                [(ngModel)]="excusa.descripcion" required #descripcion="ngModel" rows=4> </textarea>
                        </div>
                        <div id="soporte" class="form-group">
                            <label for="soporte">Soporte
                </label>
                            <p-fileUpload id="soporte" name="soporte" (onSelect)="onUploadFile($event)" maxFileSize="2000000" [showUploadButton]="false" [showCancelButton]="false" accept="application/pdf" invalidFileSizeMessageDetail="El tamaño máximo del archivo es: {0}" invalidFileSizeMessageSummary="{0}: Tamaño del archivo excedido,"
                                invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido," invalidFileTypeMessageDetail="Solo puedes cargar archivos de tipo {0}" chooseLabel="Cargar documento" styleClass="is-invalid" (onRemove)="onClearFile()" #soporte>
                            </p-fileUpload>
                            <small class="form-text text-muted">En formato PDF con un peso menor o igual a 2MB</small>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="agregarExcusaForm.resetForm();">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>