<h2 class="text-uppercase animated fadeIn">Convocatoria <small class="btn-block text-muted">Detalles de la convocatoria</small></h2>
<hr class="animated fadeIn">

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div *ngIf="convocatoria" class="animated fadeIn">
    <fieldset>
        <legend>Información general</legend>
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" placeholder="Título de la convocatoría" [(ngModel)]="convocatoria.titulo" readonly disabled>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="presupuesto">Presupuesto</label>
                    <select id="presupuesto" class="form-control" name="presupuesto" [(ngModel)]="convocatoria.bolsa_presupuestal_id" disabled>
                                <option value="null" disabled selected>Elegir un presupuesto</option>
                                <option *ngFor="let bolsa of bolsas" [value]="bolsa.id">{{bolsa.periodo}} ({{bolsa.valor | currency:'COP' }})</option>
                                
                            </select>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Fecha de expedición</label>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-12 p-0">
                            <p-calendar inputStyleClass="form-control" [(ngModel)]="convocatoria.fecha_expedicion" dateFormat="dd/mm/yy" disabled [readonlyInput]="true"></p-calendar>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-xl-4">
                <div class="form-group">
                    <label for="fallas">No de fallas para pérdida del beneficio</label>
                    <input class="form-control" type="number" name="fallas" id="fallas" required [(ngModel)]="convocatoria.fallas" readonly disabled>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-xl-4">
                <div class="form-group">
                    <label for="cantidad_beneficios">No máximo de beneficios a inscribirse</label>
                    <input class="form-control" type="number" name="cantidad_beneficios" id="cantidad_beneficios" required [(ngModel)]="convocatoria.cantidad_beneficios" readonly disabled>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-xl-4">
                <div class="form-group">
                    <label for="estrato">Estrato mínimo para impedir inscripción</label>
                    <input class="form-control" type="number" name="estrato" id="estrato" required [(ngModel)]="convocatoria.estrato" readonly disabled>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12" *ngIf="convocatoria.nombreModalidades.length != 0">
                <hr>
                <div class="form-group">
                    <label for="soporte">Comunidad estudiantil a la que se entregará el beneficio</label>
                    <p>
                        <span *ngFor="let item of convocatoria.nombreModalidades; let last = last;">{{item}}<span *ngIf="!last">, </span></span>
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12" *ngIf="convocatoria.nombreRestricciones.length != 0">
                <hr>
                <div class="form-group">
                    <label for="soporte">Condiciones de estudiantes que solo pueden realizar la inscripción</label>
                    <p>
                        <span *ngFor="let item of convocatoria.nombreRestricciones; let last = last;">{{item}}<span *ngIf="!last">, </span></span>
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12" *ngIf="convocatoria.resolucion">
                <div class="form-group">
                    <label for="soporte">Soporte <button type="button" class="btn btn-link btn-sm" (click)="viewDoc()">Ver documento cargado</button></label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="resolucion">Resolución <button type="button" class="btn btn-link btn-sm" (click)="viewDocRe()">Ver documento cargado</button></label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12" *ngIf="convocatoria.descripcion">
                <hr>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <p>
                        {{convocatoria.descripcion}}
                    </p>
                </div>
            </div>
        </div>

    </fieldset>

    <hr>
    <fieldset>
        <legend>Beneficios de la convocatoria </legend>
        <div class="table-responsive mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Beneficio</th>
                        <th>Día</th>
                        <th>Horario de entrega</th>
                        <th>Cupos</th>
                        <th>Disponible</th>
                        <th>Cafeterías de entrega</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bene of convocatoria.beneficios | orderBy:'idBeneficio'; let i=index">
                        <td>{{bene.beneficio}}</td>
                        <td>{{bene.dia}}</td>
                        <td>{{bene.nombre_inicio}} - {{bene.nombre_fin}}</td>
                        <td>{{bene.aprobados}}/{{bene.valor}}</td>
                        <td>{{bene.valor - bene.aprobados}}</td>
                        <td><span *ngFor="let item of bene.cafeterias; let last = last">{{item}}<span *ngIf="!last">, </span></span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </fieldset>

    <hr>
    <fieldset>
        <legend>Etapas de la convocatoria </legend>
        <div class="table-responsive mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Estado</th>
                        <th style="width: 350px;">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let etapa of convocatoria.etapas | orderBy:'fecha_inicio'; let i=index">
                        <td>{{etapa.estado_id | iDToName:estados}}</td>
                        <td>{{etapa.fecha_inicio | date : 'short'}} - {{etapa.fecha_fin | date : 'short'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </fieldset>

    <hr>

    <fieldset>
        <legend>Condiciones de selección directa</legend>
        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Condición</th>
                        <th>Peso</th>
                        <th>No de fallas permitidas</th>
                        <th>No máximo de beneficios</th>
                        <th>Validar horario del estudiante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let condi of convocatoria.condiciones | orderBy:'peso'; let i=index">
                        <!-- <td >{{i+1}}</td> -->
                        <td>{{condi.condicion_id == '1' ? condi.condicion + ' ' + condi.estrato : condi.condicion}}</td>
                        <td>{{condi.peso}}</td>
                        <td>{{condi.numero_fallas != null ? condi.numero_fallas : 'No aplica'}}</td>
                        <td>{{condi.cantidad_beneficios != null ? condi.cantidad_beneficios : 'No aplica'}}</td>
                        <td>{{condi.validar_horario == '1' ? 'SI' : 'NO'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-light mr-md-1 mb-3" [routerLink]="[ '/convocatoriasRefrigerio' ]">Volver al listado</button>
            <button type="button" class="btn btn-success mr-md-1 mb-3" [routerLink]="[ '/convocatoriasRefrigerio/editar', convocatoria.id ]" title="Editar convocatoria">Editar convocatoria</button>
        </div>
    </fieldset>
</div>

<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" *ngIf="convocatoria">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">

                <h4 class="modal-title" id="modelTitleId">Documento de soporte</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <iframe [src]="convocatoria.soporte  | donseguro: api" width="100%" height="700px" frameborder="0"></iframe>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" *ngIf="convocatoria">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">

                <h4 class="modal-title" id="modelTitleId">Documento de resolución</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <iframe [src]="convocatoria.resolucion  | donseguro: api" width="100%" height="700px" frameborder="0"></iframe>
            </div>

        </div>
    </div>
</div>