<ngx-spinner bdColor="rgba(0, 0, 0, 0.65)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
<div class="animated fadeIn">
    <h2 class="text-uppercase text-center">Listado de fallas<small class="btn-block text-muted">El listado cuenta con {{fallas.length}} registro(s)</small></h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info text-center mb-3" role="alert">
                <p class="m-0">A continuación, se muestra el <strong>listado de fallas por convocatoria y beneficio</strong> que usted tiene registradas en el sistema.</p>
            </div>
            <div class="text-center mb-3">
                <button *ngIf="fallas.length > 0" id="btn-filtros" class="btn btn-outline-dark mb-3 mr-1" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    <span class="fa fa-filter" aria-hidden="true"></span> Filtrar registros
                </button>
                <a tabindex="0" role="button" class="btn btn-light mb-3" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Información de ayuda" data-content="A continuación, se muestran las fallas que posee el estudiante en la convocatoria. Los datos de esta tabla, pueden ser exportados en un archivo o imprimirlos.">
                    <span class="fa fa-question-circle" aria-hidden="true"></span>
                    <span class="sr-only">Información de ayuda</span>
                </a>
            </div>
            <div class="collapse mb-3 mb-3" id="collapseFilter">
                <div class="card card-body px-3 pt-3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div id="filter-beneficio" class="form-group">
                                <label>Filtrar por beneficio</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div id="filter-dia" class="form-group">
                                <label>Filtrar por día</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div id="filter-fecha" class="form-group">
                                <label>Filtrar por fecha</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center mb-3" *ngIf="appliedFilters.length > 0"><button *ngFor="let filter of appliedFilters" class="btn btn-default btn-sm mb-1 m-1" (click)="funciones.removeFilter(this, filter)">{{filter.name}} <span class="fa fa-times" aria-hidden="true"></span></button> </div>
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" id="table">
                    <thead>
                        <tr>
                            <th scope="col">Convocatoria</th>
                            <th scope="col">Beneficio</th>
                            <th scope="col">Día</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let falla of fallas; let i=index;">
                            <td>{{falla.convocatoria}}</td>
                            <td>{{falla.beneficio}}</td>
                            <td>{{falla.dia}}</td>
                            <td [attr.data-order]="falla.fecha | date: 'yyyy-MM-dd'">{{falla.fecha | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-default mr-1" [routerLink]="[ '/estudiantes', 'dashboard' ]">Volver al perfil</button>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>