.img-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.texto-claro {
    color: rgb(153, 153, 153);
}
.texto-claro:focus{
    color:#333;
}